/* CSS files with the .module.css suffix will be treated as CSS modules and scoped locally. */

.header {
  font-size: 2rem;
  /* color: red; */
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
  .header {
    font-size: 1.5rem; /* Reduced from 2rem */
  }
  .hero > container > p {
    font-size: 1rem; /* Reduced from 1.5rem */
  }
  .button {
    font-size: 1rem !important;
  }
}

