/* EventsPage styling */

/* The css styling used for the events page. */

/* Add custom events page styling. */

h2 {
	text-transform: uppercase;
}

/* Add calendar styling. */

.shared-calendar-area {
    /* background-color: rgba(255, 255, 255, 0.2); */
    height: max-content;
    width: 100%;
    margin: auto;
	margin-top: 10px;
	/* overflow: none; */
}

.shared-calendar {
	height: 400px;
	width: 100%;
	/* overflow: none; */
}

/* Add calendar text styling. */

.calendar-text-area {
	height: max-content;
    width: 95%;
    margin: auto;
	margin-top: 10px;
	/* overflow-y: scroll; */
}

a {
	text-decoration: underline;
}




#peterAlertImage {
	width: 100%;
	height: auto;;
}
