/* Gallery Sub Page styling */

/* The css styling used for the Gallery Sub page. */

/* Add custom gallery sub page styling. */


.main-content-area {
    overflow-x: hidden; 
}

/* Add a container to hold all images. */

.images-container {
    /* background-color: burlywood; */
    height: max-content;
    min-height: 28rem; /* Make sure the gallery image container is at least a minimum size. */
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    /* overflow: auto; */
}


img {
    height: 5rem;
    width: auto;
    opacity: 0.9;
}

/* https://www.w3schools.com/howto/howto_js_lightbox.asp */

/* .row > .column {
    padding: 0 8px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
} */
  
/* Create four equal columns that floats next to eachother */
.column {
    float: left;
    width: 25%;
}
  
/* The Modal (background) */
.modal {
    background-color: var(--accent-color-black, black);
    display: none;
    position: fixed;
    z-index: 5;
    padding-top: 2rem;
    left: 0;
    top: 0;
    top: var(--headerHeight, 45px); /* Offset below the header height */
    width: 100%;
    height: 100%;
    overflow: auto;
}
  
/* Modal Content */
.modal-content {
    /* background-color: #fefefe; */
    position: relative;
    margin: auto; /* Align the modal content box correctly in the window. */
    padding: 0 auto;
    width: 90%;
    max-width: 1200px;
}

/* Define a class for the image when its the main image in the modal. */
.modal-image {
    display: block;
    height: 10rem;
    width: auto;
    margin: auto;
    opacity: 1;
}

/* Number text (1/3 etc) */
.numbertext {
    color: var(--accent-color-white, white);
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 25px;
    font-size: 16px;
    font-weight: bold;
}

/* The Close Button */
.close {
    color: var(--accent-color-white, white);
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
  
.close:hover,.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
  
/* Hide the slides by default */
.mySlides {
    display: none;
}
  
/* Next & previous buttons */
.prev,.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
  
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover,.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

  
/* Caption text */
.caption-container {
    text-align: center;
    background-color: var(--accent-color-black, black);
    padding: 2px 16px;
    color: white;
}

.thumbnail-container {
    width: 100%;
}


img.demo {
    opacity: 0.6;
}
  
.active,.demo:hover {
    opacity: 1;
}
  
img.hover-shadow {
    transition: 0.3s;
}
  
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

