/* Gallery Sub Page styling */

/* The css styling used for the Gallery Sub page. */

/* Add custom gallery sub page styling. */

/* Remove horizontal scrolling.  */
.main-content-area {
    overflow-x: hidden; 
}

#back-button-text {
    margin-top: 0.5rem;
}

/* Add a container to hold all images. */
.images-container {
    /* background-color: burlywood; */
    height: max-content;
    min-height: 28rem; /* Make sure the gallery image container is at least a minimum size. */
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    /* overflow: auto; */
}

/* Format the images. */
img {
    height: 5rem; /* Define the heights of the images. */
    width: auto; /* Auto size the width of the images. */
    opacity: 0.9; /* Add some minor transparency to the images so they look clearer when clicked on. */
    margin: 0.2rem; /* Add spacing between images. */
}

/* https://www.w3schools.com/howto/howto_js_lightbox.asp */

/* .row > .column {
    padding: 0 8px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
} */
  
/* Create four equal columns that floats next to eachother - not needed for now. */
/* .column {
    float: left;
    width: 25%;
} */
  
/* The Modal (background) */
.modal {
    /* Note that color is controlled by theme, so look at the CSS theme sheets. */
    display: none; /* Initially on load, don't show the modal. */
    position: fixed; /* Set the modal as fixed position. */
    left: 0; /* Fix the modal to the left. */
    top: 0; /* Fallback. */
    top: var(--headerHeight, 45px); /* Offset below the header height */
    width: 100%; /* Set the modal to cover the full screen. */
    height: 100%; /* Set the modal to cover the full screen. */
    z-index: 5; /* Make the modal the highest level z-index item. */
    overflow: auto;
    padding-top: 3.2rem; /* Offset the height of the image from the top of the modal. */
}
  
/* Modal Content - not needed for now. */
/*.modal-content {
    /* background-color: #fefefe; */
    /*background-color: red;
    position: relative;
    margin: auto; /* Align the modal content box correctly in the window. */
    /*margin-top: 20%;
    padding: 0 auto;
    width: 90%;
    max-width: 1200px;
}*/

/* Define a class for the image when its the main image in the modal. */
.modal-image {
    display: block;
    /* height: 10rem;
    width: auto; */
    margin: auto;
    opacity: 1;
    /* max-width: 100vw; */
    /* max-height: 40rem; */
}

/* Define a portrait class to be dynamically added for when the image is taller than it is wide. */
.portrait-image {
    width: auto;
    max-width: var(--pagewidth, 95%); /*Set a maximum width equal to the pagewidth variable. */
    height: auto;
}

.portrait-image-reduced-width {
    width: auto;
    height: 20rem;
}

/* Define a landscape class to be dynamically added for when the image is wider than it is tall. */
.landscape-image {
    width: var(--pagewidth, 95%); /* Set the width equal to the pagewidth variable. */
    max-width: var(--pagewidth, 95%); /* Set a maximum width equal to the pagewidth variable. */
    height: auto;
}

/* Number text (1/3 etc) */
#numbertext {
    /* Note that color is controlled by theme, so look at the CSS theme sheets. */
    position: absolute; /* Set the position to be absolute to ignore its container div. */
    z-index: 2;
    top: 1.2rem;
    left: 1.6rem;
    font-size: 1rem;
    font-weight: bold;
}

/* The Close Button */
.close {
    /* Note that color is controlled by theme, so look at the CSS theme sheets. */
    position: absolute; /* Set the position to be absolute to ignore its container div. */
    z-index: 2;
    top: 1.2rem;
    right: 1.6rem;
    font-size: 2rem;
    font-weight: bold;
}
.close:hover,.close:focus {
    /* Note that color is controlled by theme, so look at the CSS theme sheets. */
    text-decoration: none;
    cursor: pointer;
}
  
/* Hide the slides by default */
.mySlides {
    display: none;
}
  
/* Next & previous buttons */
.prev,.next {
    /* Note that color is controlled by theme, so look at the CSS theme sheets. */
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1rem;
    margin-top: -2rem;
    font-weight: bold;
    font-size: 1.8rem;
    border-radius: var(--border-radius, 0.2rem) 0 0 var(--border-radius, 0.2rem);
    transition: 0.6s ease;
    user-select: none;
    -webkit-user-select: none;   
}

.button-div, .prev, .next {
    /* background-color: red; */
    /* height: 40rem; */
    height: 100vh;
    /* line-height: 40rem; */
    line-height: 100vh; /* Make the line-height the same as the height of the div to vertically center the text. */
    position: fixed;
    left: 0rem;
    top: 0rem;
    /* margin-top: var(--headerHeight, 2rem); */
    cursor: pointer;
    width: 2rem;
    padding: 1rem;
    border-radius: var(--border-radius, 0.2rem) 0 0 var(--border-radius, 0.2rem);
    transition: 0.6s ease;
    user-select: none;
    -webkit-user-select: none;
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
}

/* On hover, add a black background color with a little bit see-through */
.button-div:hover {
    /* Note that color is controlled by theme, so look at the CSS theme sheets. */
    font-size: inherit;
}

/* Position the "next button" to the right */
#nextButton, .next {
    right: 0rem;
    left: auto;
    border-radius: var(--border-radius, 0.2rem) 0 0 var(--border-radius, 0.2rem);
}

/* Caption text */
.caption-container {
    /* Note that color is controlled by theme, so look at the CSS theme sheets. */
    text-align: center;
    padding: 0.1rem 1rem;
}

.thumbnail-container {
    width: 100%;
}

img.demo {
    opacity: 0.6;
}
  
.active,.demo:hover {
    opacity: 1;
}
  
img.hover-shadow {
    transition: 0.3s;
}
  
.hover-shadow:hover {
    /* Note that color is controlled by theme, so look at the CSS theme sheets. */
    font-size: inherit;
}