/* Gallery Sub Page styling */

/* The css styling used for the Gallery Sub page. */

/* Add custom gallery sub page styling. */

/* Remove horizontal scrolling.  */
.main-content-area {
    overflow-x: hidden; 
}

/* Add a container to hold all images. */
.images-container {
    /* background-color: burlywood; */
    height: max-content;
    min-height: 28rem; /* Make sure the gallery image container is at least a minimum size. */
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    /* overflow: auto; */
}

/* Format the images. */
img {
    height: 5rem; /* Define the heights of the images. */
    width: auto; /* Auto size the width of the images. */
    opacity: 0.9; /* Add some minor transparency to the images so they look clearer when clicked on. */
    margin: 0.2rem; /* Add spacing between images. */
}

/* https://www.w3schools.com/howto/howto_js_lightbox.asp */

/* .row > .column {
    padding: 0 8px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
} */
  
/* Create four equal columns that floats next to eachother */
.column {
    float: left;
    width: 25%;
}
  
/* The Modal (background) */
.modal {
    /* Note that color is controlled by theme, so look at the CSS theme sheets. */
    display: none;
    position: fixed;
    z-index: 5;
    padding-top: 2rem;
    left: 0;
    top: 0;
    top: var(--headerHeight, 45px); /* Offset below the header height */
    width: 100%;
    height: 100%;
    overflow: auto;
}
  
/* Modal Content */
.modal-content {
    /* background-color: #fefefe; */
    position: relative;
    margin: auto; /* Align the modal content box correctly in the window. */
    margin-top: 20%;
    padding: 0 auto;
    width: 90%;
    max-width: 1200px;
}

/* Define a class for the image when its the main image in the modal. */
.modal-image {
    display: block;
    /* height: 10rem;
    width: auto; */
    margin: auto;
    opacity: 1;
}

/* Define a portrait class to be dynamically added for when the image is taller than it is wide. */
.portrait-image {
    height: 100vw;
    width: auto;
}

/* Define a landscape class to be dynamically added for when the image is wider than it is tall. */
.landscape-image {
    width: 100%;
    height: auto;
}

/* Number text (1/3 etc) */
#numbertext {
    /* Note that color is controlled by theme, so look at the CSS theme sheets. */
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 25px;
    font-size: 16px;
    font-weight: bold;
}

/* The Close Button */
.close {
    /* Note that color is controlled by theme, so look at the CSS theme sheets. */
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,.close:focus {
    /* Note that color is controlled by theme, so look at the CSS theme sheets. */
    text-decoration: none;
    cursor: pointer;
}
  
/* Hide the slides by default */
.mySlides {
    display: none;
}
  
/* Next & previous buttons */
.prev,.next {
    /* Note that color is controlled by theme, so look at the CSS theme sheets. */
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
  
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover,.next:hover {
    /* Note that color is controlled by theme, so look at the CSS theme sheets. */
    font-size: inherit;
}

/* Caption text */
.caption-container {
    /* Note that color is controlled by theme, so look at the CSS theme sheets. */
    text-align: center;
    padding: 2px 16px;
}

.thumbnail-container {
    width: 100%;
}

img.demo {
    opacity: 0.6;
}
  
.active,.demo:hover {
    opacity: 1;
}
  
img.hover-shadow {
    transition: 0.3s;
}
  
.hover-shadow:hover {
    /* Note that color is controlled by theme, so look at the CSS theme sheets. */
    font-size: inherit;
}