/* Gallery Sub Page styling */

/* The css styling used for the Gallery Sub page. */

/* Add custom gallery sub page styling. */

.gallery-subpage-image-area {
    height: max-content;
    overflow-y: scroll;
}


/* https://photoswipe.com/ */
/* https://codepen.io/dimsemenov/pen/ZYbPJM */

.my-gallery {
    width: 100%;
    /* height: max-content; */
    float: left;
}

.my-gallery img {
    width: 100%;
    height: auto;
}

.my-gallery figure {
    display: block;
    float: left;
    margin: 0 5px 5px 0;
    width: 150px;
}

.my-gallery figcaption {
    display: none;
}



  