/* Gallery styling */

/* The css styling used for the Gallery page. */

/* Add custom gallery page styling. */

/* Toggle Button styling. https://www.w3schools.com/howto/howto_css_switch.asp */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}


/* Album cover styling. */

.album-covers-container {
    /* background-color: burlywood; */
    height: max-content;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* overflow: auto; */
}

.gallery-cover-container {
    /* background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%); */
    /* background-color: purple; */
    height: var(--gallery-image-height);
    width: var(--gallery-image-height);
    margin: 5px;
    cursor: pointer;
    position: relative; /* This parent needs to be relative to give it a position in the document flow, so that it's children items can be set as position: absolute. */
}

.gallery-cover-text {
    color: white;
    font-size: 0.8rem;
    text-transform: uppercase;
    text-align: right;
    margin-top: 100px;
    padding: 0.5em;
    position: relative;
}

.gallery-cover-image {
    /* background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%); */
    /* background-color: red; */
    height: var(--gallery-image-height);
    width: var(--gallery-image-height);
    object-fit:cover; /* This crops the picture to the defined height and width. https://reactgo.com/css-crop-images/. */
    /* margin: auto; */
    position: absolute; /* By making this position absolute (and having its parent as relative), we're defining this item to have position absolute in relation to its parent. */
    top: 0px;
    left: 0px;
    z-index: -1;
    /* Find a way to add a filter over the top of these gallery images to make the text easier to read. */
}

a {
    cursor: pointer;
}