/* GroupPageHome Styling Guide. */

/* The css style file used to update the Group Page Home styling. */

/* Specific Homepage Header styling is in HeaderComponent.css. */

/* Header styling. */

.content-text {
	/* background-color: blue; */
	height: 350px;
	height: calc(100vh - 20px - 60px);
	width: 100%;
	/* Note padding in all-content-area limiting width */
	text-align: center;
	padding: 10px 10px;
}

/* The header container around "TITS GROUP PAGE". */
.headercontainer {
	background: var(--accent-color-1);
	/* background-color: red; */
	width: max-content;
	padding: 5px;
	margin: 20% auto 0.2em auto;
}

/* The main header text. */
.content-text h1 {
	display: inline-block;
	padding: 5px 10px;
	text-transform: uppercase;
	font-size: 2rem;
	color: var(--accent-color-white);
	transition: transform 250ms;
}

.content-text h1:hover {
	transform: translateY(-5px);
}

.content-text h3 {
	text-transform: uppercase;
	font-size: 1.5rem;
	margin: 10px;
	letter-spacing: 1px;
	color: white;
}

#content-area {
	padding: 10px;
}

/* Content media queries. */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	/* Smartphones - Covers most phones such as iPhone SE (my phone). */
}

/* Scale up for screens larger than mobile. */

@media only screen and (min-width: 480px) and (max-width: 1223px) {
	/* Reduced windows on Desktops and Laptops - for when a user reduces the size of their window. */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	/* Covers iPads and other tablets. */
}

@media only screen and (min-width: 1224px) {
	/* Desktops and Laptops - For most normal size screen desktops and laptops. */
	.content-text h1 {
		padding: 15px 35px;
	}
	.content-text h3 {
		margin: 10px;
		letter-spacing: 3px;
	}
}

@media only screen and (min-width: 1824px) {
	/* Desktops and Laptops - For larger monitors and displays. */
	.content-text h1 {
		padding: 15px 35px;
	}
	.content-text h3 {
		margin: 10px;
		letter-spacing: 3px;
	}
}



/* Avatar class for the main image. */

.avatar-container {
	/* background-color: maroon; */
	height: 55px;
	width: 55px;
}

.avatar {
	background-color: rgba(255, 255, 255, 0.075);
	height: 55px;
	width: auto;
	border-radius: 100%;
	border: solid 1px var(--accent-color-1);
	cursor: pointer;
}

/* Avatar media queries. */

/* Scale up for screens larger than mobile. */

@media only screen and (min-width: 480px) and (max-width: 1223px) {
	/* Reduced windows on Desktops and Laptops - for when a user reduces the size of their window. */
	.avatar {
		height: 70px;
		margin: 0.3em 0.7em;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	/* Covers iPads and other tablets. */
	.avatar {
		height: 70px;
		margin: 0.3em 0.7em;
	}
}

@media only screen and (min-width: 1224px) {
	/* Desktops and Laptops - For most normal size screen desktops and laptops. */
	.avatar {
		height: 70px;
		margin: 0.3em 0.7em;
	}
}

@media only screen and (min-width: 1824px) {
	/* Desktops and Laptops - For larger monitors and displays. */
	.avatar {
		height: 70px;
		margin: 0.3em 0.7em;
	}
}