/* GroupPageHome Styling Guide. */

/* The css style file used to update the Group Page Home styling. */

/* Specific Homepage Header styling is in HeaderComponent.css. */

/* Header styling. */

.content-text {
	/* background-color: green; */
	min-height: 450px;
	height: calc(100vh - var(--headerHeight) - var(--footerHeight)); /* The viewport height minus the header and footer heights. */
	width: 100%; /* Note padding in all-content-area limiting width */
	text-transform: uppercase; /* Convert both heading texts below to uppercase. */
	text-align: center; /* Center align both heading texts below. */
	color: var(--accent-color-white, white); /* Make both heading texts below white font. */
	transition: transform 250ms; /* Add a transform transition to both sets of text. */
}

/* The header container around "TITS GROUP PAGE". */
.headercontainer {
	background: var(--accent-color-1, pink);
	/* background-color: red; */
	position: fixed; /* Lock the position of the box. */
	top: 35%; /* Set the top position of the box from the top of the screen. */
	width: 14rem; /* Set the width of the header box. */
	left: 50%; /* Set the width to 50% - https://stackoverflow.com/a/2006008/14290169. */
	margin-left: -7rem; /* Set the left margin to half the width - https://stackoverflow.com/a/2006008/14290169. */
	padding: 0.6rem 0.2rem; /* Add padding between the text and the surrounding box. */
}

/* The main header text. */
.content-text h1 {
	display: inline-block;
	font-size: 1.6rem;
}

/* The sub header container around "CLICK TO ENTER". */
.subheadercontainer {
	/* background-color: red; */
	position: fixed; /* Lock the position of the box. */
	top: 45%; /* Set the top position of the box from the top of the screen. */
	width: 12rem; /* Set the width of the sub header box. */
	left: 50%; /* Set the width to 50% - https://stackoverflow.com/a/2006008/14290169. */
	margin-left: -6rem; /* Set the left margin to half the width - https://stackoverflow.com/a/2006008/14290169. */
}

/* The sub header text. */
.content-text h3 {
	font-size: 1.5rem;
	letter-spacing: 1px;
}

/* Add a hover animation to both clickable links. */
.content-text h1:hover, .content-text h3:hover {
	transform: translateY(-5px); /* Make the text move slightly up on hover. */
}

/* Content media queries. */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	/* Smartphones - Covers most phones such as iPhone SE (my phone). */
}

/* Scale up for screens larger than mobile. */

@media only screen and (min-width: 480px) and (max-width: 1223px) {
	/* Reduced windows on Desktops and Laptops - for when a user reduces the size of their window. */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	/* Covers iPads and other tablets. */
}

@media only screen and (min-width: 1224px) {
	/* Desktops and Laptops - For most normal size screen desktops and laptops. */
	.content-text h1 {
		padding: 15px 35px;
	}
	.content-text h3 {
		margin: 10px;
		letter-spacing: 3px;
	}
}

@media only screen and (min-width: 1824px) {
	/* Desktops and Laptops - For larger monitors and displays. */
	.content-text h1 {
		padding: 15px 35px;
	}
	.content-text h3 {
		margin: 10px;
		letter-spacing: 3px;
	}
}



/* Avatar class for the main image. */

.avatar-container {
	/* background-color: maroon; */
	height: 55px;
	width: 55px;
}

.avatar {
	background-color: rgba(255, 255, 255, 0.075);
	height: 55px;
	width: auto;
	border-radius: 100%;
	border: solid 1px var(--accent-color-1);
	cursor: pointer;
}

/* Avatar media queries. */

/* Scale up for screens larger than mobile. */

@media only screen and (min-width: 480px) and (max-width: 1223px) {
	/* Reduced windows on Desktops and Laptops - for when a user reduces the size of their window. */
	.avatar {
		height: 70px;
		margin: 0.3em 0.7em;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	/* Covers iPads and other tablets. */
	.avatar {
		height: 70px;
		margin: 0.3em 0.7em;
	}
}

@media only screen and (min-width: 1224px) {
	/* Desktops and Laptops - For most normal size screen desktops and laptops. */
	.avatar {
		height: 70px;
		margin: 0.3em 0.7em;
	}
}

@media only screen and (min-width: 1824px) {
	/* Desktops and Laptops - For larger monitors and displays. */
	.avatar {
		height: 70px;
		margin: 0.3em 0.7em;
	}
}