/* GroupPage Styling Guide. */

/* The main css style file used for the Group Page styling. */

/* Initial basis started from https://www.codingflicks.com/2020/12/toggle-sidebar-navigation-html-css-javascript.html */

/* CSS Best Coding Practice
	https://github.com/bangsluke/bangsluke.github.io/blob/main/README.md#css-best-coding-practice
*/

/* Import the Open Sans font or another font from Google fonts.
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
 */

/* :root is a pseudo-class selector that matches the root element of the document, usually the html element. By creating your variables in :root, they will be available globally and can be accessed from any other selector in the style sheet.*/
:root {
	
	/* CSS variables - Add variables below like the given example. */
	
	/* Colours */

	/* The below colour variables are controlled by the theme CSS files. */
	/* --main-style-color: #FF3CAC;
	--main-background-color: #FF3CAC;
	--accent-color-1: #FF3CAC;
	--accent-color-2: #784BA0;
	--accent-color-3: #2B86C5;
	--accent-color-white: #ffffff;
	--accent-color-black: #222222; */

	/* The below colour variables are constant throughout all themes and so exist here. */
	--accent-color-black-rgb: 34, 34, 34;
	--proTeam-text-color: #37003d; /* Pro Team Formatting - for the Individuals Page */
	--proTeam-accent-color: #02F785; /* Pro Team Formatting - for the Individuals Page */
	--championship-text-color: #2346A0; /* Pro Team Championship Formatting - for the Individuals Page */
	--championship-accent-color: #FA0F10; /* Pro Team Championship Formatting - for the Individuals Page */

	/* Distances & Spacing */

	/* The below distance variables are constant throughout themes and so exist here. */
	--headerHeight: 45px; /* Define the header height variable. */
	--footerHeight: 60px; /* Define the footer height variable. */
	--table-padding: 0.2rem;
	--gallery-image-height: 130px; /* For the Gallery page */
	--user-image-height: 5rem; /* For the Users page */
	--user-name-height: 1.2rem; /* For the Users page */
	--pagewidth: 98%; /* Used for controlling the width of items on each page */
	/* line-height: 15px; */

	/* Fonts */

	/* The below font variables are constant throughout all themes and so exist here. */
	--main-font-family: 'Calibri', sans-serif;
}

/* HTML updates to cover the full webpage. */
html {
	/* background: orange; */
	/* Note that background is controlled by theme, so look at the CSS theme sheets. */

	background-size: cover;
    background-attachment: fixed; /* https://stackoverflow.com/questions/19363978/how-to-use-100-css-background-image-with-scrolling-content */
	height: max-content;
	scroll-behavior: smooth; /* Smooth the scrolling function of any internal hyperlinks. */
	block-size: 100%;
	inline-size: 100%;

	font-family: var(--main-font-family, 'Calibri'); /* Specify the main font family to be used across the site. */
	font-size: 20px; /* Add a top level font size that all other CSS is relative to. */
	line-height: 125%; /* Specify an increased line height to be used across the site to make it feel more spacious. */

	overflow-y: scroll;
}

/* Add code below. */

/* Everything below initially designed for mobile. */

/* Remove all margin and padding from full page. Turn off if you want to see sizing colours for between devices. https://www.youtube.com/watch?v=FTlczfR82mQ&ab_channel=DevEd */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	/* https://uxplanet.org/10-lifesaving-html-css-tricks-for-designers-11bbf76729eb */
	max-width: 100%;
	/* overflow-x: hidden;
	overflow-y: hidden;
	position: relative; */
	/* display: block; */
}

/* Generic body class for all HTML pages using this CSS format. */
body {
	top: 0px;
	left: 0px;
	height: max-content; /* Note: adding height: 100vh; causes issues on pages that are taller than the viewheight. */
	font-family: inherit;
	min-block-size: 100%;
	min-inline-size: 100%;
	margin: 0;

	/* https://uxplanet.org/10-lifesaving-html-css-tricks-for-designers-11bbf76729eb */
	max-width: 100%;
	overflow-x: hidden;
	/* overflow-y: hidden; */
	position: relative;
	/* display: block; */
}

/* Completely disable all vertical scrolling across all pages. https://stackoverflow.com/questions/28411499/disable-scrolling-on-body */
/* html, body {
	margin: 0; 
	height: 100%;
	overflow: hidden;
} */

/* Main content styling. */
.main-content-area {
	/* background: lightblue; */
	margin-top: 50px; /* Add an "offset" value for all content so that it sits below the fixed header. Note that 50 makes up for borders and paddings in the 45px header. */
	top: 0px;
	left: 0px;
	width: 100%;
	
	min-height: 568px; /* Fallback if needed - 568 is the minimum device height available in the Chrome developer tools. */
	min-height: calc(100vh - var(--headerHeight) - 5px - var(--footerHeight)); /* 45px header + 5px padding + 60px footer (https://stackoverflow.com/a/26090114/14290169) */
	min-height: -o-calc(100vh - var(--headerHeight) - 5px - var(--footerHeight)); /* Opera */
	min-height: -webkit-calc(100vh - var(--headerHeight) - 5px - var(--footerHeight)); /* Google, Safari */
	min-height: -moz-calc(100vh - var(--headerHeight) - 5px - var(--footerHeight)); /* Firefox */
	
	height: max-content;
	transition: margin-left .5s;
	padding: 5px; /* Add all round padding to content to slightly center it. */
	
	/* overflow: scroll; */
	/* overflow-y: scroll; /* Allows user to scroll in y within the container. https://css-tricks.com/almanac/properties/s/scroll-behavior/ */
	/* scroll-behavior: smooth;
	overflow: auto; */
	overflow-x: hidden;
	/* overflow-y: hidden; */
	max-width: 100%;
}

/* Add a lighter opacity rounded edges container to split up the sections. */
.page-section {
	
	/* background-color: aqua; */
	/* Note that background is controlled by theme, so look at the CSS theme sheets. */
	
	backdrop-filter: blur( 12.0px );
	-webkit-backdrop-filter: blur( 12.0px );
	height: max-content;
	width: var(--pagewidth, 98%);
	margin: 1em auto; /* Add a margin above and below each section. */
	padding: 0.5em;
	border-radius: 5px;
	/* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
	/* overflow: auto; */
	/* overflow-y: scroll; /* Allows user to scroll in y within the container. https://css-tricks.com/almanac/properties/s/scroll-behavior/ */
	/* scroll-behavior: smooth; */
}

/* Added bottom margin for some page sections on individuals page. */
.page-section-added-bottom-margin {
	margin-bottom: 2.5rem;
}

/* Text styling. */

a {
	color: inherit;
	text-decoration: none;
}

/* https://www.pixelstech.net/article/1546593722-7-Incredibly-Useful-CSS-Tricks-for-Responsive-Web-Design */
a[target="_blank"]:before, a[target="new"]:before {
	margin:0 5px 0 0;
	padding:1px;
	outline:1px solid #333;
	color:#333;
	background:#ff9;
	font:12px “Zapf Dingbats”;
	content: “\279C”;
}

.underline {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, p, ul, legend {
	/* Note that color is controlled by theme, so look at the CSS theme sheets. */
	font-family: inherit;
}

h1 {
	font-size: 1rem;
}

h2 {
	font-size: 0.9rem;
	text-transform: uppercase;
}

h3 {
	font-size: 0.8rem;
}

h4 {
	font-size: 0.7rem;
}

h5 {
	font-size: 0.6rem;
}

h6 {
	font-size: 0.5rem;
}

h6 {
	font-size: 0.5rem;
}

.textcenter {
	text-align: center;
}

.textleft {
	text-align: left;
}

.textright {
	text-align: right;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: oblique;
}

/* Other classes and styles. */

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/* fieldset is archived code on the Events.html page. */

/* fieldset {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	border: 1px solid var(--accent-color-white);
	padding: 0.5em;
} */

/* .fieldset-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
} */

/* Table classes */

table {
	/* Note that color is controlled by theme, so look at the CSS theme sheets. */
	width: 100%;
	text-align: center;
	font-size: 0.7rem;
	border: none;
	border-collapse: collapse;
	/* border-collapse: separate; */
}

th {
	/* Note that color is controlled by theme, so look at the CSS theme sheets. */
	font-style: bold; /* Make the header text bold */
	position: -webkit-sticky; /* Make the header row sticky position to lock it out - https://www.w3docs.com/snippets/html/how-to-create-a-table-with-a-fixed-header-and-scrollable-body.html. */
	position: sticky; /* Make the header row sticky position to lock it out. */
	top: 0px; /* Make the header row sticky position to lock it out. */
	padding: var(--table-padding, 0.2rem); /* Add padding within the header cell to give the table space. */
}

td {
	font-size: 0.6rem;
	text-align: center;
	padding: var(--table-padding, 0.2rem); /* Add padding within the cell to give the table space. */
}

tr:hover {
	/* Note that color is controlled by theme, so look at the CSS theme sheets. */
	font: bold;
}

/* Sticky column and row - https://stackoverflow.com/a/53526213/14290169 */

.table-wrapper {
	position: relative;
	overflow: auto;
	/* overflow-x: scroll; */
	/* border: 1px solid white; */
	white-space: nowrap;
	max-height: 20rem; /* Limit the height of table to allow the header row to be locked. */
}

.sticky-col {
	/* Note that color is controlled by theme, so look at the CSS theme sheets. */
	position: -webkit-sticky;
	position: sticky;
	z-index: 1;
}

.first-col { /* Add a first-col class that is applied to each table dynamically in JavaScript files. */
	/* width: 100px;
	min-width: 100px;
	max-width: 100px; */
	width: max-content;
	left: 0px;
}

.first-cell { /* Add a z-index for the top left cell high enough to keep it at the top of the order for both x and y scrolling. */
	z-index: 2;
}

/* Add 4th row underline for Titan status. */
.titan4thRow tr:nth-child(4){
	/* Note that color is controlled by theme, so look at the CSS theme sheets. */
	font-size: inherit;
}

/* Add a hidden class for hiding components that are not yet ready. */

.hidden {
	display: none;
}

/* Footer Styling */

/* footer {
	bottom: 0px;
} */

/* CSS Tips and Tricks. */

/* Change the background colour of when a user highlights text to orange. */

/* h1::selection {
    background: var(--accent-color-pink, #F575FF);
} */

/* Add an id for fading in an item over two seconds. */

.fadein {
	animation: fadein 2s ease forwards;
}

@keyframes fadein {
	from {
		display: none;
		opacity: 0;
	}
	to {
		display: block;
		opacity: 1;
	}
}

/* Add a set up for media devices with preference for dark mode. */

/* https://polypane.app/blog/the-complete-guide-to-css-media-queries/
https://levelup.gitconnected.com/dynamic-dark-light-mode-on-the-web-d55e4c0d3aa9 */

/* @media (prefers-color-scheme: dark) {
	:root {
		background: #000000;
		filter: invert(1) hue-rotate(180deg);
	}
	img {
		opacity: .75;
		transition: opacity .5s ease-in-out;
	}
	img:hover {
		opacity: 1;
	}
} */