/* IndividualsPage styling */

/* The css styling used for the individuals page. */

/* Add custom individuals page styling. */

.allContentFrame {
	/* Add an "offset" value for all content so that it sits below the fixed header. */
	padding-top: 0px;
}

/* Profile Tab */

#profilePicture {
	height: 5rem;
	width: 5rem;
	object-fit: cover;
	border-radius: 50%;
	margin: 1rem auto; /* Add a margin above and below the image and align it centrally. */
}

/* Add table styling. */

.individualsTable {
	width: 100%;
	text-align: center;
	font-size: 14px;
	/* background-color: var(--accent-color-3, blue); */
	color: white;
}

.testTable>table {
	width: 100px;
	color: red;
}

/* th not required as table has no headers. */

/* th {
	font-style: bold;
	background-color: var(--accent-color-3, blue);
	border-bottom: 4px solid var(--accent-color-2, red);
} */

td {
	font-size: 0.7rem;
	text-align: left;
	line-height: 20px;
}

tr:hover {
	background-color: var(--accent-color-1, pink);
	color: var(--accent-color-white);
	font: bold;
}

/* Icon Styling. */

.individualsPageIcon {
	width: 20px;
	height: auto;
	filter: brightness(0) invert(1);
}

/* Add specific styling to the item (first) column. */

.iconColumn {
	width: 15%;
	text-align: center;
	/* background-color: var(--accent-color-3, blue); */
}

.itemColumn {
	width: 30%;
	font: bold;
	/* background-color: var(--accent-color-3, blue); */
}

.infoColumn {
	width: 35%;
}

/* Football Tab */

#footballHeader {
	width: var(--pagewidth, 98%);
	height: auto;
	border-radius: 5px;
	margin: 0.5em auto; /* Add a margin above the football header that offsets it down the same as page-section. */
}

#proTeamLeagueLogo {
	width: 80%;
	height: auto;
	margin: auto;
}

/* Wrapper div around the pro team table. */

.pro-team-table-div {
	width: 100%;
	overflow: auto;
	background-color: var(--accent-color-white, white);
}

/* Add pro team table styling. */

#pro-team-table {
	width: 100%;
	text-align: center;
	font-size: 0.5rem;
	color: var(--proTeam-text-color,black);
	border: none;
	border-collapse: collapse;
}

/* premierLeague Styling. */

/* Add the border below the header rows. */
.premierLeague>thead>:nth-child(1) {
	border-bottom: 4px solid #02F785;
}

/* Select the 4th row to highlight the selected team. */
.premierLeague>thead>:nth-child(4){ 
	/* your css here */
	background-color: #37003d;
	color: white;
}

/* Add a highlighting row effect on hover. */
.premierLeague tr:hover {
	background-color: #02F785;
	color: #37003d;
}

/* championship Styling. */

/* Add the border below the header rows. */
.championship>thead>:nth-child(1) {
	border-bottom: 4px solid #FA0F10;
}

/* Select the 4th row to highlight the selected team. */
.championship>thead>:nth-child(4){ 
	/* your css here */
	background-color: #2346A0;
	color: white;
}

/* Add a highlighting row effect on hover. */
.championship tr:hover {
	background-color: #FA0F10;
	color: white;
}


/* Dorkinians */

.dorkiniansHeaderContainer {
	display: grid;
	grid-column-gap: 10px;
	grid-template-columns: 60px 70%;
  	grid-template-rows: 60px;
  	grid-template-areas: "logo-section text-section";
	margin-bottom: 1rem;
}

.dorkiniansLogoContainer {
	/* background: red; */
	grid-area: logo-section;	
}

#dorkiniansLogo {
	height: 60px;
	width: auto;
	margin: 0 auto;
	/* filter: brightness(0) invert(1); */
}

.dorkiniansTextContainer {
	/* background: green; */
	grid-area: text-section;
	/* padding: auto; */
	display: flex;
	align-items: flex-start;
    justify-content:flex-start;
}

.dorkiniansHeaderText {
	margin: auto;
}

.dorkiniansTableHeaderText {
	margin-bottom: 1rem;
}

.AFCTable {
	width: 200px;
}



/* History Tab */

.quote {
	font-style:italic;
}

/* Ashcombe School */

#ashcombeLogo {
	width: 100%;
	height: auto;
	margin: auto;
}

/* Brockham Badgers */

.brockhamBadgersHeaderContainer {
	display: grid;
	grid-column-gap: 10px;
	grid-template-columns: 60px 70%;
  	grid-template-rows: 60px;
  	grid-template-areas: "logo-section text-section";
}

.brockhamBadgersLogoContainer {
	/* background: red; */
	grid-area: logo-section;	
}

#brockhamBadgersLogo {
	height: 60px;
	width: auto;
	margin: 0 auto;
	filter: brightness(0) invert(1);
}

.brockhamBadgersTextContainer {
	/* background: green; */
	grid-area: text-section;
	/* padding: auto; */
	display: flex;
	align-items: flex-start;
    justify-content:flex-start;
}

.brockhamBadgersHeaderText {
	margin: auto;
}

#brockhamBadgersPicture {
	height: 100px;
	width: auto;
	margin: auto;
}

cite {
	/* background-color: red; */
	width: 100%;
	margin: 0 auto;
	padding-left: 60%;
	text-align: right;
}

/* Stats and Titan Tab */



/* Widgets Tab */



/* Text formatting. */

a {
	color: inherit;
	text-decoration: underline;
}