/* IndividualsPage styling */

/* The css styling used for the individuals page. */

/* Add custom individuals page styling. */

.allContentFrame {
	/* Add an "offset" value for all content so that it sits below the fixed header. */
	padding-top: 0px;
}

/* Text formatting. */

a {
	color: inherit;
	text-decoration: underline;
}

/* ------------------------------------------------------------------------------------------------------- */

/* Profile Tab */

#profilePicture {
	height: 5rem;
	width: 5rem;
	object-fit: cover;
	border-radius: 50%;
	margin: 1rem auto; /* Add a margin above and below the image and align it centrally. */
}

/* Add individuals table styling. */

.individualsTable {
	/* Note that color is controlled by theme, so look at the CSS theme sheets. */
	width: 100%;
	text-align: center;
	font-size: 14px;
}

.individualsTable td {
	font-size: 0.7rem;
	text-align: left;
	line-height: 20px;
}

.individualsTable tr:hover {
	/* Note that color is controlled by theme, so look at the CSS theme sheets. */
	font: bold;
}

/* individuals table icon styling. */

.individualsPageIcon {
	width: 20px;
	height: auto;
	filter: brightness(0) invert(1);
}

/* Add specific styling to the item (first) column. */

.iconColumn {
	width: 15%;
	text-align: center;
	/* background-color: var(--accent-color-3, blue); */
}

.itemColumn {
	width: 30%;
	font: bold;
	/* background-color: var(--accent-color-3, blue); */
}

.infoColumn {
	width: 35%;
}

/* ------------------------------------------------------------------------------------------------------- */

/* Football Tab */

#footballHeader {
	width: var(--pagewidth, 98%);
	height: auto;
	border-radius: 5px;
	margin: 0.5em auto; /* Add a margin above the football header that offsets it down the same as page-section. */
}

#proTeamLeagueLogo {
	width: 80%;
	height: auto;
	margin: auto auto 1rem auto;
}

/* Wrapper div around the pro team table. */

.pro-team-table-div {
	width: 100%;
	overflow: auto;
	background-color: var(--accent-color-white, white);
	margin: auto auto 1rem auto; /* Add space to the text below. */
}

/* Add pro team table styling. */

#pro-team-table {
	width: 100%;
	text-align: center;
	font-size: 0.7rem;
	line-height: 20px;
	color: var(--proTeam-text-color,black);
	border: none;
	border-collapse: collapse;
	background-color: var(--accent-color-white,white);
}

/* premierLeague Styling. */

/* Add the border below the header rows. */
.premierLeague>thead>:nth-child(1) {
	border-bottom: 4px solid var(--proTeam-accent-color, #02F785);
}

/* Select the 4th row to highlight the selected team. */
.premierLeague>thead>:nth-child(4){ 
	/* your css here */
	background-color: var(--proTeam-text-color, #37003d);
	color: var(--accent-color-white,white);
}

/* Ensure the header row is white and clear the normal header box-shadow. */
.premierLeague th {
	background-color: var(--accent-color-white,white);
	box-shadow: none;
}

/* Add a highlighting row effect on hover. */
.premierLeague tr:hover {
	background-color: var(--proTeam-accent-color, #02F785);
	color: var(--proTeam-text-color, #37003d);
}

/* championship Styling. */

/* Add the border below the header rows. */
.championship>thead>:nth-child(1) {
	border-bottom: 4px solid var(--championship-accent-color, #FA0F10);
}

/* Select the 4th row to highlight the selected team. */
.championship>thead>:nth-child(4){ 
	/* your css here */
	background-color: var(--championship-text-color, #2346A0);
	color: white;
}

/* Ensure the header row is white and clear the normal header box-shadow. */
.championship th {
	background-color: var(--accent-color-white,white);
	box-shadow: none;
}

/* Add a highlighting row effect on hover. */
.championship tr:hover {
	background-color: var(--championship-accent-color, #FA0F10);
	color: white;
}


/* Dorkinians Information */

/* Add a header container section to hold the logo and title. */
.dorkiniansHeaderContainer {
	display: grid;
	grid-column-gap: 10px;
	grid-template-columns: 60px 70%;
  	grid-template-rows: 60px;
  	grid-template-areas: "logo-section text-section";
	margin-bottom: 1rem;
}

.dorkiniansLogoContainer {
	/* background: red; */
	grid-area: logo-section;	
}

#dorkiniansLogo {
	height: 60px;
	width: auto;
	margin: 0 auto;
	/* filter: brightness(0) invert(1); */
}

.dorkiniansTextContainer {
	/* background: green; */
	grid-area: text-section;
	/* padding: auto; */
	display: flex;
	align-items: flex-start;
    justify-content:flex-start;
}

.dorkiniansHeaderText {
	margin: auto;
}

.dorkiniansTableHeaderText {
	margin-bottom: 1rem;
}

/* AFC Table Formatting */

/* Offset the table left to fit it on screen. */
.AFCTable table {
	/* background-color: blue; */
	margin-left: -0.4rem;
}

/* Offset the England Logo back into place. */
.AFCTable table tbody tr td table tbody tr td a img {
	/* background-color: blue; */
	margin-left: 1.5rem;
}

/* Make the font size in the table smaller to fit the table in. */
.AFCTable table td {
	font-size: 0.4rem;
}

/* AFC Results and Fixtures Formatting */

/* Offset the table left to fit it on screen. */
.AFCResultsAndFixtures table {
	/* background-color: blue; */
	margin-left: -0.4rem;
}

/* Offset the England Logo back into place. */
.AFCResultsAndFixtures table tbody tr td table tbody tr td a img {
	/* background-color: blue; */
	margin-left: 1.5rem;
}

/* Make the font size in the table smaller to fit the table in. */
.AFCResultsAndFixtures table td {
	font-size: 0.4rem;
}

/* ------------------------------------------------------------------------------------------------------- */

/* History Tab */

.quote {
	font-style:italic;
}

/* Ashcombe School */

#ashcombeLogo {
	width: 100%;
	height: auto;
	margin: auto;
}

/* Brockham Badgers */

/* Add a header container section to hold the logo and title. */
.brockhamBadgersHeaderContainer {
	display: grid;
	grid-column-gap: 10px;
	grid-template-columns: 60px 70%;
  	grid-template-rows: 60px;
  	grid-template-areas: "logo-section text-section";
}

.brockhamBadgersLogoContainer {
	/* background: red; */
	grid-area: logo-section;	
}

#brockhamBadgersLogo {
	height: 60px;
	width: auto;
	margin: 0 auto;
	filter: brightness(0) invert(1);
}

.brockhamBadgersTextContainer {
	/* background: green; */
	grid-area: text-section;
	/* padding: auto; */
	display: flex;
	align-items: flex-start;
    justify-content:flex-start;
}

.brockhamBadgersHeaderText {
	margin: auto;
}

#brockhamBadgersPicture {
	height: 100px;
	width: auto;
	margin: auto;
}

cite {
	/* background-color: red; */
	width: 100%;
	margin: 0 auto;
	padding-left: 60%;
	text-align: right;
}

/* ------------------------------------------------------------------------------------------------------- */

/* Stats and Titan Tab */





