/* IndividualsPage styling */

/* The css styling used for the individuals page. */

/* :root is a pseudo-class selector that matches the root element of the document, usually the html element. By creating your variables in :root, they will be available globally and can be accessed from any other selector in the style sheet.*/

:root {
	/* CSS variables - Add variables below like the given example. */
	/*Embers Color Palette: https://digitalsynopsis.com/wp-content/uploads/2019/09/color-schemes-palettes-combinations-2.jpg*/
	--main-style-color: #FF3CAC;
	--main-background-color: #FF3CAC;
	--accent-color-1: #FF3CAC;
	--accent-color-2: #784BA0;
	--accent-color-3: #2B86C5;
	--accent-color-white: #ffffff;
	--accent-color-black: #222222;
	--main-font-family: 'Calibri', sans-serif;

	/* Pro Team Formatting */
	--proTeam-text-color: #37003d;
	--proTeam-accent-color: #02F785;

}

/* Add custom individuals page styling. */

.allContentFrame {
	/* Add an "offset" value for all content so that it sits below the fixed header. */
	padding-top: 0px;
}

/* Profile */

#profilePicture {
	height: 100px;
	width: auto;
	border-radius: 5px;
}

/* Add table styling. */

.individualsTable {
	width: 100%;
	text-align: center;
	font-size: 14px;
	/* background-color: var(--accent-color-3, blue); */
	color: white;
}

.testTable>table {
	width: 100px;
	color: red;
}

/* th not required as table has no headers. */

/* th {
	font-style: bold;
	background-color: var(--accent-color-3, blue);
	border-bottom: 4px solid var(--accent-color-2, red);
} */

td {
	font-size: 14px;
	text-align: left;
	line-height: 20px;
}

tr:hover {
	background-color: var(--accent-color-1, pink);
	color: var(--accent-color-white);
	font: bold;
}

/* Wrapper div around the pro team table. */

.pro-team-table-div {
	overflow: auto;
	background-color: var(--accent-color-white, white);
}

/* Add pro team table styling. */

.pro-team-table {
	width: 100%;
	text-align: center;
	font-size: 12px;
	color: var(--proTeam-text-color,black);
}



/* Icon Styling. */

.individualsPageIcon {
	width: 20px;
	height: auto;
	filter: brightness(0) invert(1);
}

/* Add specific styling to the item (first) column. */

.iconColumn {
	width: 15%;
	text-align: center;
	/* background-color: var(--accent-color-3, blue); */
}

.itemColumn {
	width: 30%;
	font: bold;
	/* background-color: var(--accent-color-3, blue); */
}

.infoColumn {
	width: 35%;
}

.quote {
	font-style:italic;
}

/* Contact */

#footballHeader {
	width: 100%;
	height: auto;
	margin: auto;
	border-radius: 5px;
}

#proTeamLeagueLogo {
	width: 80%;
	height: auto;
	margin: auto;
}

#ashcombeLogo {
	width: 100%;
	height: auto;
	margin: auto;
}

#brockhamBadgersLogo {
	height: 100px;
	width: auto;
	margin: 0 auto;
	filter: brightness(0) invert(1);
}

#brockhamBadgersPicture {
	height: 100px;
	width: auto;
	margin: auto;
}


/* Text formatting. */

a {
	color: inherit;
	text-decoration: underline;
}