/* StatsPage styling */

/* The css styling used for the stats page. */

/* :root is a pseudo-class selector that matches the root element of the document, usually the html element. By creating your variables in :root, they will be available globally and can be accessed from any other selector in the style sheet.*/

:root {
	/* CSS variables - Add variables below like the given example. */
	/*Embers Color Palette: https://digitalsynopsis.com/wp-content/uploads/2019/09/color-schemes-palettes-combinations-2.jpg*/
	--main-style-color: #FF3CAC;
	--main-background-color: #FF3CAC;
	--accent-color-1: #FF3CAC;
	--accent-color-2: #784BA0;
	--accent-color-3: #2B86C5;
	--accent-color-white: #ffffff;
	--accent-color-black: #222222;
	--main-font-family: 'Calibri', sans-serif;
	/* line-height: 15px; */
}

/* Add custom stats page styling. */

/* Create a drop down selection container. */
.stats-selection-area {
	background-color: rgba(255, 255, 255, 0.2);
	height: max-content;
	width: 95%;
	margin: auto;
	/* margin-top: 2em; */
	padding: 1em;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between; /* Add horizontal space between each element. */
	align-items: flex-start; /* Vertically start the flex box at the top of the container. */
	align-content: flex-start; /* Vertically start the flex box at the top of the container. */
}

/* Style the drop down menus. */
.dropdown-div {
	/* background-color: red; */
	text-align: center;
	min-width: 40%;
	width: 50%;
	/* width: 100px; */
	flex: 0 1 auto;
	align-self: flex-start; /* Vertically align the element within the container. */
}

.dropdown-div h3 {
	font-size: 0.5rem;
}

select {
	font-size: 0.6rem;
}

.stats-dropdown {
	/* background-color: rgba(255, 255, 255, 0.1); */
	width: 80%;
	margin: auto;
}


/* Syle the displayed stats information. */

#stats-title {
	text-align: center;
	color: var(--accent-color-white, white);
	padding-bottom: 1em;
}

.stats-table-area {
	height: max-content;
	width: 96%;
	margin: auto;
	margin-top: 2em;
}

/* Wrapper div around the table. */

.stats-table {
	overflow: auto;
}

/* Table classes */

table {
	width: 100%;
	text-align: center;
	font-size: 0.7rem;
	background-color: var(--accent-color-3, blue);
	color: white;
}

th {
	font-style: bold;
	background-color: var(--accent-color-3, blue);
	border-bottom: 4px solid var(--accent-color-2, red);
}

td {
	font-size: 0.7rem;
	text-align: center;
}

tr:hover {
	background-color: var(--accent-color-1, pink);
	color: var(--accent-color-white);
	font: bold;
}

/* Last updated and Source formatting. */

#stats-last-updated {
	text-align: right;
}

/* Reporting Link formatting */

.reporting-link-container {
	color: white;
	text-align: center;
	font-size: 10px;
}

.reporting-link:hover {
	text-decoration: underline;
}









/* Old Styling */

.stats-selection-area-old {
	background-color: rgba(255, 255, 255, 0.2);
	height: max-content;
	width: 95%;
	margin: auto;
	/* margin-top: 2em; */
	padding: 1em;
	border-radius: 10px;
}

.dropdown-div-old {
	text-align: center;
}

.stats-dropdown-old {
	/* background-color: rgba(255, 255, 255, 0.1); */
	width: 80%;
	margin: auto;
}