/* StatsPage styling */

/* The css styling used for the stats page. */

/* Add custom stats page styling. */

/* Create a drop down selection container. */
.stats-selection-area {
	/* background-color: rgba(255, 255, 255, 0.2); */
	height: max-content;
	width: 100%;
	margin: auto;
	/* margin-top: 2em; */
	padding: 1em;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between; /* Add horizontal space between each element. */
	align-items: flex-start; /* Vertically start the flex box at the top of the container. */
	align-content: flex-start; /* Vertically start the flex box at the top of the container. */
}

/* Style the drop down menus. */
.dropdown-div {
	/* background-color: red; */
	text-align: center;
	min-width: 40%;
	/* width: 50%; */
	width: 450px;
	flex: 0 1 auto;
	align-self: flex-start; /* Vertically align the element within the container. */
	margin-bottom: 10px;
}

.dropdown-div h3 {
	font-size: 0.5rem;
}

select {
	font-size: 0.6rem;
}

.stats-dropdown {
	/* background-color: rgba(255, 255, 255, 0.1); */
	width: 80%;
	margin: auto;
}

/* Change font size of dropdown so that mobile doesn't zoom. (https://github.com/jquery/jquery-mobile/issues/2069). */
.stats-dropdown select{
	font-size: 50px;
}

/* Syle the displayed stats information. */

/* Add a min height to the stats holding div so it doesn't look weird on initial load when there's no data. */
.stats-page-section {
	min-height: 10rem;
}

#stats-title {
	/* Note that color is controlled by theme, so look at the CSS theme sheets. */
	text-align: center;
	padding-bottom: 1em;
}

.stats-table-area {
	height: max-content;
	width: 96%;
	margin: auto;
	margin-top: 2em;
}

/* Reporting Link formatting */

.reporting-link-container {
	/* Note that color is controlled by theme, so look at the CSS theme sheets. */
	text-align: center;
	font-size: 10px;
}

.reporting-link:hover {
	text-decoration: underline;
}