/* TitansPage styling */

/* The css styling used for the titans page. */

/* Add custom titans page styling. */

/* Add an area for the titan summary text. */

.titan-summary-statement-area {
	margin-top: 0.5rem;
}

/* Add a class for the Titan Buttons. */

.titanButtons {
	width: 48%;
	height: 2rem;
}