/* TitansPage styling */

/* The css styling used for the titans page. */

/* Add custom titans page styling. */

/* Add an area for the titan summary text. */

.titan-summary-statement-area {
	margin-top: 0.5rem;
}

/* Make all p text within the .titan-summary-statement-area inline to keep the flow natural. */
.titan-summary-statement-area p {
	display: inline;
}

/* Add a class for the Titan Buttons. */

.titanButtons {
	width: 48%;
	height: 2rem;
}