/* UsersPage styling */

/* The css styling used for the users page. */

/* Add custom users page styling. */

.glass-card {
	/* Note that color is controlled by theme, so look at the CSS theme sheets. */
	/* width: 90%; */
	width: var(--pagewidth, 90%);
	height: max-content;
	padding: 0.5em 0 0.1em 0; /* Space the content inside the glass card. */
	margin: 0.7em 0 0.7em 0; /* Add vertical spacing between the glass cards */
	/* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
	backdrop-filter: blur( 12.0px );
	-webkit-backdrop-filter: blur( 12.0px );
	border-radius: 10px;
}

.user-container {
	/* background-color: aqua; */
	width: 100%;
	height: var(--user-image-height);
	/* height: 7rem; */
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly; /* Centers the content centrally. */
	margin-bottom: 10px;
}

.user-container.reverse {
	flex-direction: row-reverse;
}

/* User Images Styling */

.user-image-container {
	/* background-color: blueviolet; */
	height: var(--user-image-height);
	width: var(--user-image-height);
	justify-content: center;
	align-content: center;
}

.user-image {
	height: var(--user-image-height);
	width: var(--user-image-height);
	object-fit: cover;
	border-radius: 5px;
	/* This crops the picture to the defined height and width. https://reactgo.com/css-crop-images/. */
}

/* User Texts Styling */

.user-text-container {
	/* background-color: burlywood; */
	height: var(--user-image-height);
	width: 60%;
}

.user-name {
	/* background-color: green; */
	height: var(--user-name-height);
	margin-bottom: 0.3rem;
}

.alias-container {
	/* Note that color is controlled by theme, so look at the CSS theme sheets. */
	/* background-color: red; */
	border-radius: 10px;
	height: calc(var(--user-image-height) - var(--user-name-height) - 0.3rem);
	overflow-y: scroll; /* Alows vertical scroll */
	overflow-x: none;
	text-overflow: clip; /* Stops the text overrunning the size of the box */
	padding: 0 0.5rem;
}

ul {
	/* Note that color is controlled by theme, so look at the CSS theme sheets. */
	list-style-type: circle;
	list-style: circle;
	list-style-position: inside;
}

ul > li {
	font-size: 0.6rem;
	line-height: 0.9rem;
}

li:hover {
	/* Note that color is controlled by theme, so look at the CSS theme sheets. */
	font-size: inherit;
}