/* UsersPage styling */

/* The css styling used for the users page. */

/* Add custom users page styling. */

.glass-card {
	width: 90%;
	height: max-content;
	padding: 0.3em;
	margin-bottom: 0.7em;
	background: rgba( 255, 255, 255, 0.20 );
	/* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
	backdrop-filter: blur( 12.0px );
	-webkit-backdrop-filter: blur( 12.0px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.user-container {
	/* background-color: aqua; */
	width: 100%;
	height: var(--user-image-height);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly; /* Centers the content centrally. */
	margin-bottom: 10px;
}

.user-container.reverse {
	flex-direction: row-reverse;
}

/* User Images Styling */

.user-image-container {
	/* background-color: blueviolet; */
	height: var(--user-image-height);
	width: var(--user-image-height);
	justify-content: center;
	align-content: center;
}

.user-image {
	height: var(--user-image-height);
	width: var(--user-image-height);
	object-fit: cover;
	border-radius: 5px;
	/* This crops the picture to the defined height and width. https://reactgo.com/css-crop-images/. */
}

/* User Texts Styling */

.user-text-container {
	/* background-color: burlywood; */
	height: var(--user-image-height);
	width: 100px;
}

.user-text {
	/* background-color: bisque; */
	margin: auto;
	display: block;
}

.alias-container {
	width: inherit;
	overflow-y: scroll;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}