/* Gallery styling */

/* The css styling used for the Gallery page. */

/* :root is a pseudo-class selector that matches the root element of the document, usually the html element. By creating your variables in :root, they will be available globally and can be accessed from any other selector in the style sheet.*/

:root {
	/* CSS variables - Add variables below like the given example. */
	/*Embers Color Palette: https://digitalsynopsis.com/wp-content/uploads/2019/09/color-schemes-palettes-combinations-2.jpg*/
	--main-style-color: #FF3CAC;
	--main-background-color: #FF3CAC;
	--accent-color-1: #FF3CAC;
	--accent-color-2: #784BA0;
	--accent-color-3: #2B86C5;
	--accent-color-white: #ffffff;
	--accent-color-black: #222222;
	--main-font-family: 'Calibri', sans-serif;
	/* line-height: 15px; */
    
    --gallery-image-height: 160px;
}

/* Add custom gallery page styling. */

.album-covers-container {
    /* background-color: burlywood; */
    height: max-content;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* overflow: auto; */
}

.gallery-cover-container {
    background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
    /* background-color: purple; */
    height: var(--gallery-image-height);
    /* height: 200px; */
    width: var(--gallery-image-height);
    /* width: 200px; */
    margin: 5px;
    cursor: pointer;
    position: relative; /* This parent needs to be relative to give it a position in the document flow, so that it's children items can be set as position: absolute. */
}

.gallery-cover-text {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    text-align: right;
    margin-top: 120px;
    padding: 0.5em;
    position: relative;
}

.gallery-cover-image {
    background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
    height: var(--gallery-image-height);
    width: var(--gallery-image-height);
    object-fit:cover; /* This crops the picture to the defined height and width. https://reactgo.com/css-crop-images/. */
    /* margin: auto; */
    position: absolute; /* By making this position absolute (and having its parent as relative), we're defining this item to have position absolute in relation to its parent. */
    top: 0px;
    left: 0px;
    z-index: -1;
    /* Find a way to add a filter over the top of these gallery images to make the text easier to read. */
}

a {
    cursor: pointer;
}