/* LoginPage styling */

/* The css styling used for the login page. */

/* :root is a pseudo-class selector that matches the root element of the document, usually the html element. By creating your variables in :root, they will be available globally and can be accessed from any other selector in the style sheet.*/

:root {
	/* CSS variables - Add variables below like the given example. */
	/*Embers Color Palette: https://digitalsynopsis.com/wp-content/uploads/2019/09/color-schemes-palettes-combinations-2.jpg*/
	--main-style-color: #FF3CAC;
	--main-background-color: #FF3CAC;
	--accent-color-1: #FF3CAC;
	--accent-color-2: #784BA0;
	--accent-color-3: #2B86C5;
	--accent-color-white: #ffffff;
	--accent-color-black: #222222;
	--main-font-family: 'Calibri', sans-serif;
	/* line-height: 15px; */
}

/* Add custom login page styling. */

.loginContainer {
    background-color: rgba(255, 255, 255, 0.3);
    height: 300px;
    width: 80%;
    margin: auto;
    margin-top: 2em;
    padding: 1em;
    border-radius: 10px;
}

h1 {
    font-size: 20px;
    color: var(--accent-color-white);
    padding: 20px;
}

.center-container {
    /* background-color: lavender; */
    display: flex;
    flex-direction: row;
}

.left-text-container {
    /* background-color: lawngreen; */
}

.usertext-container {
    /* background-color: orange; */
    width: 100%;
    height: 30px;
}

.passwordtext-container {
    /* background-color: blue; */
    width: 100%;
    height: 30px;
}

.right-align {
    text-align: right;
}

.right-item-container {
    /* background-color: lightpink; */
}

.left-align {
    text-align: left;
}

.userdropdown-container {
    /* background-color: green; */
    width: 100%;
    height: 30px;
}

.userdropdown {
    padding: 5px;
}

.passwordbox-container {
    /* background-color: magenta; */
    width: 100%;
    height: 30px;
}

#pwd {
    width: 90%;
    height: 20px;
    left: 5px;
    top: 0px;
    margin: auto;
    display: block;
}


.loginbuttondiv {
    padding: 40px;
}

.loginbutton {
    background-color: var(--accent-color-1);
    font-size: 18px;
    color: var(--accent-color-white);
    height: 40px;
    width: 60px;
    border-radius: 5px;
}