/* GroupPage Styling Guide. */

/* The main css style file used for the Group Page styling. */

/* Initial basis started from https://www.codingflicks.com/2020/12/toggle-sidebar-navigation-html-css-javascript.html */

/* CSS Best Coding Practice
	https://github.com/bangsluke/bangsluke.github.io/blob/main/README.md#css-best-coding-practice
*/

/* Import the Open Sans font or another font from Google fonts.
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
 */

/* :root is a pseudo-class selector that matches the root element of the document, usually the html element. By creating your variables in :root, they will be available globally and can be accessed from any other selector in the style sheet.*/

:root {
	/* CSS variables - Add variables below like the given example. */
	/*Embers Color Palette: https://digitalsynopsis.com/wp-content/uploads/2019/09/color-schemes-palettes-combinations-2.jpg*/
	--main-style-color: #FF3CAC;
	--main-background-color: #FF3CAC;
	--accent-color-1: #FF3CAC;
	--accent-color-2: #784BA0;
	--accent-color-3: #2B86C5;
	--accent-color-white: #ffffff;
	--accent-color-black: #222222;
	--accent-color-black-rgb: 34, 34, 34;
	--main-font-family: 'Calibri', sans-serif;
	/* line-height: 15px; */
	--user-image-height: 100px;
}

/* HTML updates to cover the full webpage. */

html {
	background: var(--main-background-color, var(--accent-color-1));
	/* background: orange; */
	/* Smooth the scrolling function of any internal hyperlinks. */
	scroll-behavior: smooth;
	/* Offset all anchor links by the height of the fixed header. https://stackoverflow.com/a/56467997/14290169 */
	/* scroll-padding-top: 260px; */
	block-size: 100%;
	inline-size: 100%;
}

/* Add code below. */

/* Everything below initially designed for mobile. */

/* Remove all margin and padding from full page. Turn off if you want to see sizing colours for between devices. https://www.youtube.com/watch?v=FTlczfR82mQ&ab_channel=DevEd */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Generic body class for all HTML pages using this CSS format. */

body {
	/* https://www.grabient.com/ */
	background-color: var(--accent-color-2);
	background-image: linear-gradient(225deg, var(--accent-color-1) 0%, var(--accent-color-2) 50%, var(--accent-color-3) 100%);
	/* background: orange; */
	margin: 0;
	top: 0px;
	left: 0px;
	overflow: hidden;
	font-family: sans-serif;
	min-block-size: 100%;
	min-inline-size: 100%;
	margin: 0;
}

/* Create a sticky footer - https://stackoverflow.com/questions/42294/how-do-you-get-the-footer-to-stay-at-the-bottom-of-a-web-page */

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -25px;
	/* The bottom margin is the negative value of the footer's height */
}

/* Add a id for all content div. */

.allContentFrame {
	/* background: yellow; */
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}

/* Header styling. */

.subpage-header-area {
	/* background-color: lightcoral; */
	left: 0px;
	top: 0px;
	height: 60px;
	width: 100%;
	border-bottom: solid 2px var(--accent-color-white);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 2px;
}

.subpage-header-area.homepage {
	/* background-color: lightcoral; */
	height: 80px;
	padding: 15px;
}

/* Avatar class for the main image. */

.avatar-container {
	/* background-color: maroon; */
	height: 55px;
	width: 55px;
}

.avatar {
	background-color: rgba(255, 255, 255, 0.075);
	height: 55px;
	width: auto;
	border-radius: 100%;
	border: solid 1px var(--accent-color-1);
	cursor: pointer;
}

/* Main subpage header text class. */

.heading-container {
	/* background-color: grey; */
	height: max-content;
	margin: auto;
}

.subpage-header-text {
	color: var(--accent-color-white);
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	height: max-content;
	margin: auto;
}

/* Header area media queries. */

/* Scale up for screens larger than mobile. */

@media only screen and (min-width: 480px) and (max-width: 1223px) {
	/* Reduced windows on Desktops and Laptops - for when a user reduces the size of their window. */
	.avatar {
		height: 70px;
		margin: 0.3em 0.7em;
	}
	.subpage-header-text {
		font-size: 30px;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	/* Covers iPads and other tablets. */
	.avatar {
		height: 70px;
		margin: 0.3em 0.7em;
	}
	.subpage-header-text {
		font-size: 35px;
	}
}

@media only screen and (min-width: 1224px) {
	/* Desktops and Laptops - For most normal size screen desktops and laptops. */
	.avatar {
		height: 70px;
		margin: 0.3em 0.7em;
	}
	.subpage-header-text {
		font-size: 40px;
	}
}

@media only screen and (min-width: 1824px) {
	/* Desktops and Laptops - For larger monitors and displays. */
	.avatar {
		height: 70px;
		margin: 0.3em 0.7em;
	}
	.subpage-header-text {
		font-size: 40px;
	}
}

/* Main content styling. */

.main-content-area {
	/* background: lightblue; */
	transition: margin-left .5s;
	padding: 15px;
	min-height: 570px;
	height: max-content;
	overflow-y: scroll;
	/* Allows user to scroll in y within the container. https://css-tricks.com/almanac/properties/s/scroll-behavior/ */
	scroll-behavior: smooth;
}

.subpage-content-area {
	/* background-color: lightgreen; */
	height: 100px;
	margin-top: 20px;
}

.content-text {
	/* background-color: blue; */
	height: 400px;
	width: 100%;
	/* Note padding in all-content-area limiting width */
	text-align: center;
}

.headercontainer {
	background: var(--accent-color-1);
	/* background-color: red; */
	width: max-content;
	padding: 5px;
	margin: 30% auto 0.2em auto;
}

.content-text h1 {
	display: inline-block;
	padding: 15px 35px;
	text-transform: uppercase;
	font-size: 50px;
	color: var(--accent-color-white);
	transition: transform 250ms;
}

.content-text h1:hover {
	transform: translateY(-5px);
}

.content-text h3 {
	text-transform: uppercase;
	font-size: 45px;
	margin: 10px;
	letter-spacing: 3px;
}

a {
	color: inherit;
	text-decoration: none;
}

/* Content media queries. */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	/* Smartphones - Covers most phones such as iPhone SE (my phone). */
	#content-area {
		padding: 10px;
	}
	.content-text {
		padding: 10px 10px;
	}
	.content-text h1 {
		padding: 5px 10px;
		font-size: 30px;
	}
	.content-text h3 {
		font-size: 25px;
		margin: 5px;
		letter-spacing: 2px;
	}
}

/* Footer styling. */

.footer {
	/* background-color: green; */
	/* background: var(--accent-color-black); */
	background-color: rgba(var(--accent-color-black-rgb), 0.5);
	grid-area: footer;
	width: 100%;
	top: 90%;
	color: var(--accent-color-white);
	justify-self: center;
	align-content: center;
	text-align: center;
	padding: auto;
}

/* Create a sticky footer - https://stackoverflow.com/questions/42294/how-do-you-get-the-footer-to-stay-at-the-bottom-of-a-web-page */

.footer, .push {
	height: 25px;
	/* .push must be the same height as .footer */
}

.footer a {
	color: var(--accent-color-white);
	text-decoration: none;
	font-size: 20px;
}

.footer a:hover {
	color: var(--accent-color-1);
	text-decoration: var(--accent-color-white);
}

/* Footer media queries. */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	/* Smartphones - Covers most phones such as iPhone SE (my phone). */
	.footer a {
		font-size: 10px;
	}
}

/* Text styling. */

p, h1, h2, ul, legend {
	color: var(--accent-color-white);
}

/* Other classes and styles. */

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

fieldset {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	border: 1px solid var(--accent-color-white);
	padding: 0.5em;
}

.fieldset-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.individuals-picture {
	height: 100px;
	width: auto;
	border-radius: 5px;
}

.league-picture {
	height: auto;
	width: 100%;
	border-radius: 3px;
}

/* Users page styling */

.all-users-container {
	/* background-color: antiquewhite; */
	height: max-content;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.user-container {
	/* background-color: aqua; */
	width: 100%;
	height: max-content;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
}

.user-image-container {
	/* background-color: blueviolet; */
	display: inline;
	height: var(--user-image-height);
	width: var(--user-image-height);
}

.user-text-container {
	/* background-color: burlywood; */
	display: inline;
	height: var(--user-image-height);
	width: var(--user-image-height);
}

.user-image {
	height: var(--user-image-height);
	width: var(--user-image-height);
	object-fit: cover;
	/* This crops the picture to the defined height and width. https://reactgo.com/css-crop-images/. */
}

.user-text {
	/* background-color: bisque; */
	display: inline-block;
}

/* Table classes */

table {
	width: 98%;
	text-align: center;
	font-size: 14px;
}

.titanTable {
	/* background-color: white; */
	color: var(--accent-color-white);;
}

th {
	font-style: bold;
}

.thTitanHeader {
	border-bottom: 4px solid var(--accent-color-1);
}

.titanTable tr:hover {
	background-color: var(--accent-color-1);
	color: var(--accent-color-white);
	font: bold;
}

/* Resizing the webpage for all devices. */

/* https://www.thesitewizard.com/css/mobile-friendly-responsive-design.shtml
	240 pixels (old Android portrait mode)
	320 pixels (iPhone 3 to 5 and iPhone SE portrait mode)
	375 pixels (iPhone 6, 6s, 7, 8 and X portrait)
	384 pixels (Android Nexus portrait)
	414 pixels (iPhone 6 Plus, 6s Plus, 7 Plus and 8 Plus portrait)
	480 pixels (iPhone 3 and 4 landscape mode)
	568 pixels (iPhone 5 and iPhone SE landscape)
	600 pixels (Android Nexus landscape, Kindle portrait)
	667 pixels (iPhone 6, 7 and 8 landscape)
	736 pixels (iPhone 6 Plus, 7 Plus and 8 Plus landscape)
	768 pixels (iPad portrait)
	812 pixels (iPhone X landscape)
	1024 pixels (iPad landscape) */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	/* Smartphones - Covers most phones such as iPhone SE (my phone). */
	html {
		background: blue;
	}
}

@media only screen and (min-width: 480px) and (max-width: 1223px) {
	/* Reduced windows on Desktops and Laptops - for when a user reduces the size of their window. */
	html {
		background: green;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	/* Covers iPads and other tablets. */
	html {
		background: orange;
	}
}

@media only screen and (min-width: 1224px) {
	/* Desktops and Laptops - For most normal size screen desktops and laptops. */
	html {
		background: red;
	}
}

@media only screen and (min-width: 1824px) {
	/* Desktops and Laptops - For larger monitors and displays. */
	html {
		background: yellow;
	}
}

/* CSS Tips and Tricks. */

/* Change the background colour of when a user highlights text to orange. */

/* h1::selection {
    background: var(--accent-color-pink, #F575FF);
} */

/* Add an id for fading in an item over two seconds. */

.fadein {
	animation: fadein 2s ease forwards;
}

@keyframes fadein {
	from {
		display: none;
		opacity: 0;
	}
	to {
		display: block;
		opacity: 1;
	}
}

/* Add a set up for media devices with preference for dark mode. */

/* https://polypane.app/blog/the-complete-guide-to-css-media-queries/
https://levelup.gitconnected.com/dynamic-dark-light-mode-on-the-web-d55e4c0d3aa9 */

@media (prefers-color-scheme: dark) {
	:root {
		background: #000000;
		filter: invert(1) hue-rotate(180deg);
	}
	img {
		opacity: .75;
		transition: opacity .5s ease-in-out;
	}
	img:hover {
		opacity: 1;
	}
}