/* GroupPage Styling Guide. */

/* The main css style file used for the Group Page styling. */

/* Initial basis started from https://www.codingflicks.com/2020/12/toggle-sidebar-navigation-html-css-javascript.html */

/* CSS Best Coding Practice
	https://github.com/bangsluke/bangsluke.github.io/blob/main/README.md#css-best-coding-practice
*/

/* Import the Open Sans font or another font from Google fonts.
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
 */

/* :root is a pseudo-class selector that matches the root element of the document, usually the html element. By creating your variables in :root, they will be available globally and can be accessed from any other selector in the style sheet.*/

:root {
	/* CSS variables - Add variables below like the given example. */
	/*Embers Color Palette: https://digitalsynopsis.com/wp-content/uploads/2019/09/color-schemes-palettes-combinations-2.jpg*/
	--main-style-color: #2a3950;
	--main-background-color: #2a3950;
	--accent-color-blue: #41436A;
	--accent-color-darkred: #974063;
	--accent-color-red: #f54768;
	--accent-color-orange: #ff9678;
	--accent-color-green: #99b998;
	--accent-color-white: #ffffff;
	--main-font-family: 'Calibri', sans-serif;
	/* line-height: 15px; */
}

/* HTML updates to cover the full webpage. */

html {
	background: var(--main-background-color, #2a3950);
	/* Smooth the scrolling function of any internal hyperlinks. */
	scroll-behavior: smooth;
	/* Offset all anchor links by the height of the fixed header. https://stackoverflow.com/a/56467997/14290169 */
	/* scroll-padding-top: 260px; */
}

/* Add code below. */

/* Everything below initially designed for mobile. */

/* Remove all margin and padding from full page. Turn off if you want to see sizing colours for between devices. https://www.youtube.com/watch?v=FTlczfR82mQ&ab_channel=DevEd */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Generic body class for all HTML pages using this CSS format. */

body {
	margin: 0;
	font-family: sans-serif;
	/* https://www.grabient.com/ */
	background-color: #FF3CAC;
	background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}

/* Add a id for all content div. */

.allcontent {
	width: 100%;
}

/* Avatar class for the main image. */

.avatar {
	width: 100px;
	height: auto;
	border-radius: 100%;
	display: inline-block;
	margin: 0 0 2em 0;
	padding: 0.2em;
	border: solid 1px #FF3CAC;
	background-color: rgba(255, 255, 255, 0.075);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	/* Smartphones - Covers most phones such as iPhone SE (my phone). */
	.avatar {
		width: 70px;
	}
}

/* Web tabs styling. https://web.dev/building-a-tabs-component/. */

snap-tabs {
	display: flex;
	flex-direction: column;
	/* Establish primary containing box */
	overflow: hidden;
	position: relative;
	/* & > section { */
	/* be pushy about consuming all space */
	/* block-size: 100%; */
	/* } */
	/* & > header { */
	/* defend against <section> needing 100% */
	/* flex-shrink: 0; */
	/* fixes cross browser quarks */
	/* min-block-size: fit-content; */
	/* } */
}

snap-tabs.section {
	/* be pushy about consuming all space */
	block-size: 100%;
}

snap-tabs.header {
	/* defend against <section> needing 100% */
	flex-shrink: 0;
	/* fixes cross browser quarks */
	min-block-size: fit-content;
}

header {
	display: flex;
	flex-direction: column;
}

.scroll-snap-x {
	/* browser decide if x is ok to scroll and show bars on, y hidden */
	overflow: auto hidden;
	/* prevent scroll chaining on x scroll */
	overscroll-behavior-x: contain;
	/* scrolling should snap children on x */
	scroll-snap-type: x mandatory;
	@media (hover: none) {
		scrollbar-width: none;
		&::-webkit-scrollbar {
			width: 0;
			height: 0;
		}
	}
}

nav {
	display: flex;
	/* & a {
	  scroll-snap-align: start;
  
	  display: inline-flex;
	  align-items: center;
	  white-space: nowrap;
	} */
}

nav.a {
	scroll-snap-align: start;
	display: inline-flex;
	align-items: center;
	white-space: nowrap;
}

section {
	block-size: 100%;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 100%;
}

article {
	scroll-snap-align: start;
	overflow-y: auto;
	overscroll-behavior-y: contain;
}

@media (prefers-reduced-motion: no-preference) {
	.scroll-snap-x {
		scroll-behavior: smooth;
	}
}

@media (prefers-reduced-motion: reduce) {
	snap-tabs>header a {
		border-block-end: var(--indicator-size) solid hsl(var(--accent) / 0%);
		transition: color .7s ease, border-color .5s ease;
		/* &:is(:target,:active,[active]) {
		color: var(--text-active-color);
		border-block-end-color: hsl(var(--accent));
	  } */
	}
	snap-tabs .snap-indicator {
		visibility: hidden;
	}
}

/* Side Menu CSS */

.sideMenu {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background: #784BA0;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.main-menu h2 {
	text-align: center;
	letter-spacing: 7px;
	color: #fff;
	background: #111;
	padding: 20px 0;
}

.sideMenu a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	color: #fff;
	display: block;
	transition: 0.3s;
	font-size: 18px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: 900;
}

.sideMenu a i {
	padding-right: 15px;
}

.main-menu a:hover {
	color: #784BA0;
	background: #111;
}

.sideMenu .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	padding: 0.2em;
}

/* All content styling. */

#content-area {
	transition: margin-left .5s;
	padding: 16px;
}

.content-text {
	padding: 100px 180px;
	text-align: center;
}

.content-text h2 {
	background: #FF3CAC;
	display: inline-block;
	padding: 15px 35px;
	text-transform: uppercase;
	font-size: 50px;
	color: #fff;
	transition: transform 250ms;
}

.content-text h2:hover {
	transform: translateY(-5px);
}

.content-text h3 {
	text-transform: uppercase;
	font-size: 45px;
	margin: 10px;
	letter-spacing: 3px;
}

/* Content media queries. */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	/* Smartphones - Covers most phones such as iPhone SE (my phone). */
	#content-area {
		padding: 10px;
	}
	.content-text {
		padding: 10px 10px;
	}
	.content-text h2 {
		padding: 5px 10px;
		font-size: 20px;
	}
	.content-text h3 {
		font-size: 15px;
		margin: 5px;
		letter-spacing: 3px;
	}
}

.firstpageimagetest {
	background-image: url("/pages/GroupPage/assets/images/Background.JPG");
	height: 300px;
	width: 500px;
	margin: auto;
	/* background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%); */
}

.firstpageimagetest p {
	color: white;
	font-size: 30px;
	text-transform: uppercase;
	padding: 1em;
}

#burgericon {
	/* background: blue; */
	color: white;
	position: absolute;
	right: 0px;
	font-size: 30px;
	cursor: pointer;
	padding: 0.5em;
}

#burgericon:hover {
	color: #784BA0;
}

/* Footer styling. */

.footer {
	grid-area: footer;
	/* background: #974063; */
	height: max-content;
	width: 100%;
	color: #ffffff;
	justify-self: center;
	align-content: center;
	text-align: center;
}

.footer a {
	color: #ffffff;
	text-decoration: none;
	font-size: 20px;
}

.footer a:hover {
	color: #FF3CAC;
	text-decoration: #FFFFFF;
}

/* Footer media queries. */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	/* Smartphones - Covers most phones such as iPhone SE (my phone). */
	.footer a {
		font-size: 10px;
	}
}

/* Resizing the webpage for all devices. */

/* https://www.thesitewizard.com/css/mobile-friendly-responsive-design.shtml
	240 pixels (old Android portrait mode)
	320 pixels (iPhone 3 to 5 and iPhone SE portrait mode)
	375 pixels (iPhone 6, 6s, 7, 8 and X portrait)
	384 pixels (Android Nexus portrait)
	414 pixels (iPhone 6 Plus, 6s Plus, 7 Plus and 8 Plus portrait)
	480 pixels (iPhone 3 and 4 landscape mode)
	568 pixels (iPhone 5 and iPhone SE landscape)
	600 pixels (Android Nexus landscape, Kindle portrait)
	667 pixels (iPhone 6, 7 and 8 landscape)
	736 pixels (iPhone 6 Plus, 7 Plus and 8 Plus landscape)
	768 pixels (iPad portrait)
	812 pixels (iPhone X landscape)
	1024 pixels (iPad landscape) */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	/* Smartphones - Covers most phones such as iPhone SE (my phone). */
	html {
		background: blue;
	}
}

@media only screen and (min-width: 480px) and (max-width: 1223px) {
	/* Reduced windows on Desktops and Laptops - for when a user reduces the size of their window. */
	html {
		background: green;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	/* Covers iPads and other tablets. */
	html {
		background: orange;
	}
}

@media only screen and (min-width: 1224px) {
	/* Desktops and Laptops - For most normal size screen desktops and laptops. */
	html {
		background: red;
	}
}

@media only screen and (min-width: 1824px) {
	/* Desktops and Laptops - For larger monitors and displays. */
	html {
		background: yellow;
	}
}

/* CSS Tips and Tricks. */

/* Change the background colour of when a user highlights text to orange. */

/* h1::selection {
    background: var(--accent-color-pink, #F575FF);
} */

/* Add an id for fading in an item over two seconds. */

#fadein {
	animation: fadein 2s ease forwards;
}

@keyframes fadein {
	from {
		display: none;
		opacity: 0;
	}
	to {
		display: block;
		opacity: 1;
	}
}

/* Add a set up for media devices with preference for dark mode. */

/* https://polypane.app/blog/the-complete-guide-to-css-media-queries/
https://levelup.gitconnected.com/dynamic-dark-light-mode-on-the-web-d55e4c0d3aa9 */

@media (prefers-color-scheme: dark) {
	:root {
		background: #000000;
		filter: invert(1) hue-rotate(180deg);
	}
	img {
		opacity: .75;
		transition: opacity .5s ease-in-out;
	}
	img:hover {
		opacity: 1;
	}
}