/* Web tabs styling */

/* The css styling used for SnapTabs. */
/* https://web.dev/building-a-tabs-component/. */

/* :root is a pseudo-class selector that matches the root element of the document, usually the html element. By creating your variables in :root, they will be available globally and can be accessed from any other selector in the style sheet.*/

:root {
	/* CSS variables - Add variables below like the given example. */
	/*Embers Color Palette: https://digitalsynopsis.com/wp-content/uploads/2019/09/color-schemes-palettes-combinations-2.jpg*/
	--main-style-color: #FF3CAC;
	--main-background-color: #FF3CAC;
	--accent-color-1: #FF3CAC;
	--accent-color-2: #784BA0;
	--accent-color-3: #2B86C5;
	--accent-color-white: #ffffff;
	--accent-color-black: #222222;
	--main-font-family: 'Calibri', sans-serif;
	/* line-height: 15px; */


    /* Additional snap tabs variables. */
    --snap-tabs-height: 450px;

}

/* html {
    block-size: 100%;
    inline-size: 100%;
} */

body {
    /* min-block-size: 100%;
    min-inline-size: 100%;
    margin: 0; */
    /* box-sizing: border-box;
    display: grid;
    align-content: center;
    justify-content: center;
    place-content: center;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif; */
}

.snap-tabs-container {
    /* background-color: mediumorchid; */
    width: 100%;
    height: var(--snap-tabs-height);
    /* Below is copied from body above. */
    box-sizing: border-box;
    display: grid;
    align-content: center;
    justify-content: center;
    place-content: center;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
    /* font-family: var(--main-font-family); */
}


p {
    max-inline-size: 35ch;
    margin-block: .5ch;
    font-family: var(--main-font-family);
}

p+p {
    -webkit-margin-before: 1rem;
    margin-block-start: 1rem;
}

h2 {
    font-size: 1.5rem;
    -webkit-margin-after: .5rem;
    margin-block-end: .5rem;
    line-height: 1;
    font-family: var(--main-font-family);
}

h2:first-of-type {
    -webkit-margin-before: 0;
    margin-block-start: 0;
}

article {
    box-sizing: border-box;
    font-family: var(--main-font-family);
    font-size: 1rem;
    line-height: 1;
    color: var(--accent-color-white);
}

/* Specific snap-tabs styling with elements not used elsewhere on site. */

snap-tabs {
    --hue: 328deg;
    --accent: var(--hue) 100% 54%; 
    --indicator-size: 2px;
    --space-1: .5rem;
    --space-2: 1rem;
    --space-3: 1.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    height: var(--snap-tabs-height);
}

snap-tabs a, snap-tabs article, snap-tabs header, snap-tabs nav, snap-tabs section {
    outline-color: hsl(var(--accent));
    outline-offset: -5px;
}

.scroll-snap-x {
    overflow-x: auto;
    overflow-y: hidden;
    overflow: auto hidden;
    overscroll-behavior-x: contain;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
}

@media (prefers-reduced-motion:no-preference) {
    .scroll-snap-x {
        scroll-behavior: smooth;
    }
}

@media (hover:none) {
    .scroll-snap-x {
        scrollbar-width: none;
    }
    .scroll-snap-x::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

snap-tabs>header {
    /* --text-color: hsl(var(--hue) 5% 40%); */
    /* --text-active-color: hsl(var(--hue) 20% 10%); */
    --text-color: var(--accent-color-black);
    --text-active-color: var(--accent-color-white);
    flex-shrink: 0;
    min-block-size: -webkit-fit-content;
    min-block-size: -moz-fit-content;
    min-block-size: fit-content;
    display: flex;
    flex-direction: column;
}

snap-tabs>header>nav {
    display: flex;
}

snap-tabs>header a {
    scroll-snap-align: start;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    font-size: .8rem;
    color: var(--text-color);
    font-weight: 700;
    text-decoration: none;
    padding: var(--space-2) var(--space-3);
}

snap-tabs>header a>svg {
    inline-size: 1.5em;
    pointer-events: none;
}

snap-tabs>header a:hover {
    background: hsl(var(--accent)/5%);
}

snap-tabs>header a:focus {
    outline-offset: -.5ch;
}

snap-tabs>header>.snap-indicator {
    inline-size: 0;
    block-size: var(--indicator-size);
    border-radius: var(--indicator-size);
    background: hsl(var(--accent));
}

snap-tabs>section {
    block-size: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
}

snap-tabs>section>article {
    scroll-snap-align: start;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    padding: var(--space-2) var(--space-3);
}

@media (prefers-reduced-motion:reduce) {
    snap-tabs>header a {
        -webkit-border-before: var(--indicator-size) solid hsl(var(--accent)/0%);
        border-block-start: var(--indicator-size) solid hsl(var(--accent)/0%);
        transition: color .7s ease, border-color .5s ease;
    }
    snap-tabs>header a:active, snap-tabs>header a:target, snap-tabs>header a[active] {
        color: var(--text-active-color);
        border-block-start-color: hsl(var(--accent));
    }
    snap-tabs .snap-indicator {
        visibility: hidden;
    }
}
