/* UsersPage styling */

/* The css styling used for the users page. */

/* :root is a pseudo-class selector that matches the root element of the document, usually the html element. By creating your variables in :root, they will be available globally and can be accessed from any other selector in the style sheet.*/

:root {
	/* CSS variables - Add variables below like the given example. */
	/*Embers Color Palette: https://digitalsynopsis.com/wp-content/uploads/2019/09/color-schemes-palettes-combinations-2.jpg*/
	--main-style-color: #FF3CAC;
	--main-background-color: #FF3CAC;
	--accent-color-1: #FF3CAC;
	--accent-color-2: #784BA0;
	--accent-color-3: #2B86C5;
	--accent-color-white: #ffffff;
	--accent-color-black: #222222;
	--main-font-family: 'Calibri', sans-serif;
	/* line-height: 15px; */
}

/* Add custom users page styling. */

.all-users-container {
	/* background-color: antiquewhite; */
	height: max-content;
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

.user-container {
	/* background-color: aqua; */
	width: 100%;
	height: var(--user-image-height);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly; /* Centers the content centrally. */
	margin-bottom: 10px;
}

.user-container.reverse {
	flex-direction: row-reverse;
}

.user-image-container {
	/* background-color: blueviolet; */
	height: var(--user-image-height);
	width: var(--user-image-height);
	justify-content: center;
	align-content: center;
}

.user-text-container {
	/* background-color: burlywood; */
	height: var(--user-image-height);
	width: var(--user-image-height);
}

.user-image {
	height: var(--user-image-height);
	width: var(--user-image-height);
	object-fit: cover;
	/* This crops the picture to the defined height and width. https://reactgo.com/css-crop-images/. */
}

.user-text {
	/* background-color: bisque; */
	text-align: center;
	margin: auto;
	display: block;
}

.glass-card {
	width: 90%;
	padding: 0.3em;
	margin-bottom: 0.7em;
	background: rgba( 255, 255, 255, 0.20 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 12.0px );
	-webkit-backdrop-filter: blur( 12.0px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
}