/* FooterComponent styling */

/* The css styling used for the footer component. */

@charset "UTF-8";

/* Footer styling. */

/* Originally from "/pages/Group-Page/assets/components/Footer/CSS Files/footer.css" */

footer {
    /* background-color: green; */
    /* background: var(--accent-color-black); */
    background-color: rgba(var(--accent-color-black-rgb), 0.5);
    /* grid-area: footer; */
    width: 100%;
    height: 60px; /* Fallback if needed. */
    height: var(--footerHeight, 60px); /* Get the footer height variable from GroupPageMain.css. */
    /* https://stackoverflow.com/a/17437794/14290169 */
    /* top: 90%;
    /* top: calc(100% - 60px); /* Try to calculate the top position of the footer by the height of 100% minus the footer height. */
    /* top: -o-calc(100% - 60px); /* Opera */
	/* top: -webkit-calc(100% - 60px); /* Google, Safari */
	/* top: -moz-calc(100% - 60px); /* Firefox */
    /* bottom: 0px; */
    top: calc(100vh - 60px);
    color: var(--accent-color-white, white);
    justify-self: center;
    align-content: center;
    text-align: center;
    padding: 5px;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer li {
    display: inline-block;
    padding: none;
    font-size: 0.5rem;
    text-decoration: none;
    color: var(--accent-color-white);
}

footer li a {
    text-decoration: none;
    color: var(--accent-color-white);
}

footer li a:hover {
    color: var(--accent-color-1);
    text-decoration: var(--accent-color-white);
}

footer p {
    font-size: 0.6rem;
    margin: auto;
}

.footer-logo {
    height: 20px;
    filter: brightness(0) invert(1);
    margin-top: 5px;
    padding: 0px 5px;
}