.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvgContainer {
  text-align: center;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.featureSvg {
  height: 100px;
  width: 200px;
  margin: 0 auto;
}