/* Dorkinians Stat Page styling */

/* The css styling used for the Dorkinians Stat page. */

/* File Layout */

/* 1. Top level rules.
	1.1. All root variables.
	1.2. HTML rules.
	1.3. * rules.
	1.4. body rules.
2. All general rules.
	2.1. Text styling.
	2.2  Table styling.
	2.3  Dropdown styling.
3. Page layout (header/footer) specific rules.
4. Tab layout rules.
5. Media Queries
	5.1. Scaling rules.
	5.2. Dark mode rules. */

/* CSS Best Coding Practice
	https://github.com/bangsluke/bangsluke.github.io/blob/main/README.md#css-best-coding-practice
*/


/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------

Section 1

---------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* :root is a pseudo-class selector that matches the root element of the document, usually the html element. By creating your variables in :root, they will be available globally and can be accessed from any other selector in the style sheet.*/
:root {
	
	/* CSS variables - Add variables below like the given example. */
	
	/* Colours */
	--main-dorkinians-green-colour: #1C8841; /* Main Dorkinians green. */
    --main-dorkinians-yellow-colour: #F9ED32; /* Main Dorkinians yellow. */
	--dorkinians-yellow-colour-rgb: 249, 237, 50; /* Main Dorkinians yellow RGB. */
	--page-dark-grey-colour: #323B35; /* Additional dark grey colour. */

	/* Distances & Spacing */
	--headerHeight: 4rem; /* Define the header height variable. */
	--footerHeight: 3.75rem; /* Define the footer height variable. */
	--pagewidth: 95%; /* Used for controlling the width of items on each page */
	--border-radius: 0.5rem;
}

/* HTML updates to cover the full webpage. */
html {
	/* Note that background is controlled by theme, so look at the CSS theme sheets. */
	background-size: cover;
    background-attachment: fixed; /* https://stackoverflow.com/questions/19363978/how-to-use-100-css-background-image-with-scrolling-content */
    /* background-color: var(--main-dorkinians-green-colour, black); */
    background-image: linear-gradient(67deg, #236f38 5%, #31a057 42%, var(--main-dorkinians-green-colour) 74%);

	height: max-content;
	scroll-behavior: smooth; /* Smooth the scrolling function of any internal hyperlinks. */
	block-size: 100%;
	inline-size: 100%;
	overflow-y: scroll;

	font-family: 'Roboto', sans-serif; /* Specify the main body font family to be used across the site. */
	font-size: 16px; /* Add a top level font size that all other CSS is relative to. */
	line-height: 125%; /* Specify an increased line height to be used across the site to make it feel more spacious. */

	/* DELETE IF MAJOR ISSUES */
	block-size: 100%;
    inline-size: 100%
}

/* Remove all margin and padding from full page. Turn off if you want to see sizing colours for between devices. https://www.youtube.com/watch?v=FTlczfR82mQ&ab_channel=DevEd */
* {
	box-sizing: border-box;
	margin: 0rem;
	padding: 0rem;
	max-width: 100%; /* https://uxplanet.org/10-lifesaving-html-css-tricks-for-designers-11bbf76729eb */  /* overflow-x: hidden;  overflow-y: hidden;  position: relative; */  /* display: block; */
}

/* Generic body class for all HTML pages using this CSS format. */
body {
	top: 0rem;
	left: 0rem;
	height: max-content; /* Note: adding height: 100vh; causes issues on pages that are taller than the viewheight. */
	min-block-size: 100%;
	min-inline-size: 100%;
	margin: 0rem;
	padding: 0rem;
	/* https://uxplanet.org/10-lifesaving-html-css-tricks-for-designers-11bbf76729eb */
	max-width: 100%;
	overflow-x: hidden;
	position: relative;
}

/* Main content styling. Houses all page content below the header. */
.main-content-area {
	/* background-color: violet; */
	top: 0rem;
	left: 0rem;
	width: 100%;
	height: max-content;
}

/* Page section styling. Add a lighter opacity rounded edges container. */
.page-section {
	margin-top: 3.125rem; /* Add an "offset" value for all content so that it sits below the fixed header. Note that 50 makes up for borders and paddings in the 2.8rem header. */
	top: 0rem;
	left: 0rem;
	width: var(--pagewidth, 98%);
    margin: 1rem auto 2rem auto; /* Add a margin above and below each section. */
	padding: 1rem 0.5rem; /* Add internal padding to the page-section. */
	min-height: 35.5rem; /* Fallback if needed - 568 is the minimum device height available in the Chrome developer tools. */
	min-height: calc(100vh - var(--headerHeight, 2.8rem) - 0.5rem - var(--footerHeight, 3.75rem)); /* 2.8rem header + 0.5rem padding + 3.75rem footer (https://stackoverflow.com/a/26090114/14290169) */
	min-height: -o-calc(100vh - var(--headerHeight, 2.8rem) - 0.5rem - var(--footerHeight, 3.75rem)); /* Opera */
	min-height: -webkit-calc(100vh - var(--headerHeight, 2.8rem) - 0.5rem - var(--footerHeight, 3.75rem)); /* Google, Safari */
	min-height: -moz-calc(100vh - var(--headerHeight, 2.8rem) - 0.5rem - var(--footerHeight, 3.75rem)); /* Firefox */
	height: max-content;
	transition: margin-left .5s;
	overflow-x: hidden;
	/* max-width: 100%; */
    border-radius: var(--border-radius, 0.2rem); /* Add a border radius. */
    background: rgba(255, 255, 255, 0.10);
	/* background-color: rgba(var(--page-section-color-rgba), 0.9); */
    backdrop-filter: blur( 20px );
	-webkit-backdrop-filter: blur( 20px );
}




/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------

Section 2

---------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* 1. Text styling. */

h1, h2, h3, h4, h5, h6, p, a, th, tr, td, q, cite, section, article, span, ul, li, legend, select, option, button {
	/* Note that color is controlled by theme, so look at the CSS theme sheets. */
	font-family: inherit;
}

/* Font Families */

/* Apply the 'Montserrat' header font style to all header elements. Note that Span is included as it's used in the header-component. */
h1, h2, h3, h4, h5, h6, span {
	font-family: 'Montserrat', sans-serif;
}

/* Apply the 'Roboto' body font style to all body elements. */
p, a, th, tr, td, q, cite, section, article, ul, li, legend, select, option, button {
	font-family: 'Roboto', sans-serif;
}

/* Define the sizes and other styles to each individual text style. */

/* Used for top header text. */
h1 {
	font-size: 32px; /* Fallback value. */
  	font-size: 1.6rem; /* Relative to root (html) value. */
  	text-transform: uppercase;
	line-height: 90%; /* Specify an reduced line height to compress the home page h1 text. */
	color: white;
}

/* Used for tab header text. */
h2 {
	font-size: 32px; /* Fallback value. */
  	font-size: 1.4rem; /* Relative to root (html) value. */
  	text-transform: uppercase;
	color: var(--main-dorkinians-yellow-colour, yellow);
	padding-bottom: 1rem;
}

/* Used for sub section header text. */
h3 {
	font-size: 32px; /* Fallback value. */
  	font-size: 1.2rem; /* Relative to root (html) value. */
  	text-transform: uppercase;
	color: white;
	padding-bottom: 1rem;
}

/* Used for text bulk on page. */
p {
	font-size: 14px; /* Fallback value. */
	font-size: 0.9rem; /* Relative to root (html) value. */
}

/* Used for hyperlinks across the site. */
a {
	font-size: 14px; /* Fallback value. */
	font-size: 0.9rem; /* Relative to root (html) value. */
	text-decoration: none;
	cursor: pointer;
}

/* Text Styles */

.underline {
	text-decoration: underline;
}

.textcenter {
	text-align: center !important;
}

.textleft {
	text-align: left !important;
}

.textright {
	text-align: right !important;
}

.bold {
	font-weight: bold !important;
}

.italic {
	font-style: oblique !important;
}



/* 2. Table classes */

table {
	/* background-color: white; */
	color: var(--main-dorkinians-green-colour, darkgreen);
	color: white;
	width: 100%;
	text-align: center;
	border: none;
	border-collapse: collapse;
	border-radius: var(--border-radius, 0.2rem);
	cursor: pointer; /* Turn the cusor into a pointer when over the table. */
	font-size: 14px; /* Fallback value. */
	font-size: 0.7rem; /* Relative to root (html) value. */
	/*overflow: hidden; /* Required for column highlighting. */
	/* For interior borders, look at the td class. */
	/* overflow: scroll; */
}

/* Used for table headers across the site. */
th {
	background-color: rgba( 255, 255, 255, 0.10);
	background-color: var(--main-dorkinians-green-colour, darkgreen);
	box-shadow: inset 0rem 0rem 0rem var(--main-dorkinians-yellow-colour, yellow), inset 0rem -0.25rem 0rem var(--main-dorkinians-yellow-colour, yellow); /* Add a box-shadow as a bottom border so that it scrolls with the header. */
	font-style: bold; /* Make the header text bold */
	font-size: 14px; /* Fallback value. */
	font-size: 0.8rem; /* Relative to root (html) value. */
	text-align: center; /* By default, center all table text. */
	position: -webkit-sticky; /* Make the header row sticky position to lock it out - https://www.w3docs.com/snippets/html/how-to-create-a-table-with-a-fixed-header-and-scrollable-body.html. */
	position: sticky; /* Make the header row sticky position to lock it out. */
	top: 0rem; /* Make the header row sticky position to lock it out. */
	padding: var(--table-padding, 0.2rem); /* Add padding within the header cell to give the table space. */
	height: 2rem;
}

/* Used for table rows across the site. */
tr {
	/* font-size: 14px; /* Fallback value. */
	/* font-size: 0.9rem; /* Relative to root (html) value. */
	color: white;
}

/* Used for table cell text across the site. */
td {
	/* font-size: 14px; /* Fallback value. */
	/* font-size: 0.9rem; /* Relative to root (html) value. */
	text-align: center; /* By default, center all table text. */
	padding: var(--table-padding, 0.2rem); /* Add padding within the cell to give the table space. */
	-webkit-text-size-adjust: 100%; /* Stop mobile browsers increasing the text size. (https://stackoverflow.com/a/5540312/14290169). */
	-moz-text-size-adjust: 100%; /* Stop mobile browsers increasing the text size. (https://stackoverflow.com/a/5540312/14290169). */
	-ms-text-size-adjust: 100%; /* Stop mobile browsers increasing the text size. (https://stackoverflow.com/a/5540312/14290169). */
}

/* Cell highlighting. */
td:hover {
	font-weight: bold;
	border: 0.1rem solid white;
}

/* Add row highlighting. */
tr:hover {
	font: bold;
	background-color: var(--main-dorkinians-yellow-colour, yellow); /* Fallback colour - no opacity. */
	background-color: rgba(var(--dorkinians-yellow-colour-rgb), 0.2); /* Same colour with opacity. */
	color: white;
}

/* Add column highlighting (https://css-tricks.com/simple-css-row-column-highlighting/). */ 

td, th {
	position: relative;
}

/* Column highlighting. Only on tables with class "column-highlight". */
.column-highlight td:hover::after, th:hover::after {
	background-color: var(--main-dorkinians-yellow-colour, yellow); /* Fallback colour - no opacity. */
	background-color: rgba(var(--dorkinians-yellow-colour-rgb), 0.2); /* Same colour with opacity. */
	color: white;
	content: "";
	position: absolute;
	left: 0;
	top: -5000px;
	/* top: 0px; */
	height: 10000px;
	/* height: 100%; */
	width: 100%;
	z-index: -1;
}

/* Add table column lines. */
.table-column-lines {
	border-right-color: var(--main-dorkinians-yellow-colour,yellow);
	border-right-style: solid;
	border-width: 0.1rem;
}

/* Add a border radius to all tables. (https://stackoverflow.com/a/4094151/14290169). */
tr:first-child th:first-child {
	border-top-left-radius: var(--border-radius, 0.2rem);
}
tr:first-child th:last-child {
	border-top-right-radius: var(--border-radius, 0.2rem);
}
tr:last-child td:first-child {
	border-bottom-left-radius: var(--border-radius, 0.2rem);
}
tr:last-child td:last-child {
	border-bottom-right-radius: var(--border-radius, 0.2rem);
}

/* Sticky column and row - https://stackoverflow.com/a/53526213/14290169 */

.table-wrapper {
	position: relative;
	overflow: auto;
	overflow-y: hidden;
	/* overflow: hidden; */
	white-space: nowrap;
	max-height: 50rem; /* Limit the height of table to allow the header row to be locked. */
}

.sticky-col { /* Add a sticky-col class that is applied to each table dynamically in JavaScript files. */
	background-color: var(--main-dorkinians-green-colour,darkgreen);
	position: -webkit-sticky;
	position: sticky;
	z-index: 1;
}

.first-col { /* Add a first-col class that is applied to each table dynamically in JavaScript files. */
	width: max-content;
	left: 0rem;
}

.first-cell { /* Add a first-cell class that is applied to each table dynamically in JavaScript files. */
	z-index: 2; /* Add a z-index for the top left cell high enough to keep it at the top of the order for both x and y scrolling. */
	border-top-left-radius: var(--border-radius, 0.2rem);
}

/* Tooltip Styling - used in tables. https://www.w3schools.com/css/css_tooltip.asp. */

/* Tooltip container */
.tooltip {
	text-decoration: underline; /* Add dots under the hoverable text. */
    text-decoration-color: white;
    text-decoration-style: dotted;
}

/* Tooltip text */
.tooltip .tooltiptext {
	/* Note that color is controlled by theme, so look at the CSS theme sheets. */
	visibility: hidden; /* Initially set the visibility as hidden. */
	min-height: 2rem;
	max-height: 30rem;
	width: 15rem;
	min-width: 8rem;
	/* min-width: 150%; */
	/* overflow: visible; */
	padding: 0.5rem 0.5rem; /* Add interior padding to the tool tip. */
	border-radius: var(--border-radius, 0.2rem); /* Add a border-radius to all tool tips. */
	/* Position the tooltip text below the text its explaining. */
	position: absolute;
	z-index: 1;
 	top: 100%;
	left: 0rem;
}
  
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
}

/* Add a tool tip arrow. https://www.bitdegree.org/learn/css-tooltip. */
.tooltip .tooltiptext::after {
    /* Note that color is controlled by theme, so look at the CSS theme sheets. */
	content: " ";
    position: absolute;
    bottom: 100%;  /* This will position the arrow at the top of the tooltip */
    left: 10%;
    margin-left: -0.3rem;
    border-width: 0.2rem;
    border-style: solid;
}

p.tooltiptext {
	font-size: 12.8px; /* Fallback value. */
	font-size: 0.8rem; /* Relative to root (html) value. */
	text-transform: none;
	text-align: left;
}

/* Other classes and styles. */

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/* Add a hidden class for hiding components that are not yet ready or shouldn't be shown. */
.hidden {
	display: none !important;
}

/* Add a class to stop scrolling in certain divs. */
.noscroll {
	overflow: hidden;
}

/* Add an id for fading in an item over two seconds. */
.fadein {
	animation: fadein 2s ease forwards;
}

@keyframes fadein {
	from {
		display: none;
		opacity: 0;
	}
	to {
		display: block;
		opacity: 1;
	}
}





/* 3. Dropdown styling */

/* Add a class for all common selection container styling. */
.selection-container {
	/* background-color: yellowgreen; */
	padding-bottom: 0.3rem;
	text-align: center;
}

/* Add a class for all common selection dropdown styling. */
.selection-dropdown {
	background-color: rgba(255, 255, 255, 0.10);
	color: white;
	border: none;
	text-align: center;
	width: 20%;
	min-width: 10rem;
	height: 1.5rem;
	margin: auto;
	font-size: 0.8rem; /* Relative to root (html) value. */
	cursor: pointer; /* Turn the cusor into a pointer when over the dropdown. */
}

/* Style the dropdown menu that appears for the user to click on. */
option {
	color: black; /* The font colour of the text. */ 
	background-color: white; /* The background colour behind the text. */ 
}


/* 4. Information bar styling */

.information-bar {
	/* background-color: aqua; */
	width: 100%;
	text-align: center;
	font-size: 0.7rem;
	font-style: italic;
	margin-bottom: 1rem;
}

/* 5. Stats ToolTip styling */

/* For all of the below - see https://www.w3schools.com/css/css_tooltip.asp */

/* Stats Tooltip container */
.stats-tooltip {
	/* background-color: red; */
	position: relative;
  	display: inline-block;	
}

/* Tooltip text */
.stats-tooltip .stats-tooltip-text {
	/* background-color: blue; */
	background-color: var(--page-dark-grey-colour, grey);
	visibility: hidden; /* Initially set the visibility as hidden. */
	/* min-width: 20rem; */
	width: 90%;
	min-height: 1rem;
	/* max-height: 30rem; */
	/* min-width: 150%; */
	/* overflow: visible; */
	padding: 0.5rem 0.5rem; /* Add interior padding to the tool tip. */
	border-radius: var(--border-radius, 0.2rem); /* Add a border-radius to all tool tips. */
	/* Position the tooltip text below the text its explaining. */
	position: absolute;
	z-index: 1;
  	bottom: 110%; /* Position above the container div. */
  	left: 50%; /* Center align the tooltip across the page. */
  	margin-left: -45%; /* Use half of the width, to center the tooltip */
}
  
/* Show the stats tooltip text when you mouse over the stats tooltip container */
.stats-tooltip:hover .stats-tooltip-text {
	visibility: visible; /* Change the visibility to visible when hovered on. */
}

/* Add a tool tip arrow. https://www.bitdegree.org/learn/css-tooltip. */
.stats-tooltip .stats-tooltip-text::after {
	content: " ";
	position: absolute;
	top: 100%; /* At the bottom of the tooltip */
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: var(--page-dark-grey-colour, grey) transparent transparent transparent;
}

.stats-tooltip-text {
	font-size: 12.8px; /* Fallback value. */
	font-size: 0.7rem; /* Relative to root (html) value. */
	text-transform: none;
	text-align: left;
}


/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------

Section 3

---------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Everything below initially designed for mobile. */

/* Header Section */

.header-area {
	/* background-color: violet; */
	display: grid; 
	grid-template-columns: 4rem 1fr 4rem; 
	grid-template-rows: var(--headerHeight, 2.5rem); /* Fallback if needed. */
	grid-template-rows: calc(var(--headerHeight) - 0.9rem); /* Make the header a decent height. */
	gap: 0 0.3rem; /* First value is between rows, second columns. */
	grid-template-areas: 
	  "Logo Title Options";
	border-bottom: 0.125rem solid white;
}

/* Style the Dorkinians logo in the top left corner. */
.logo-container {
	/* background-color: purple; */
	grid-area: Logo;
	padding: 0.3rem;
}
.logo {
	height: calc(var(--headerHeight) - 1.5rem); /* Make the burger icon just smaller than the header height. */
	width: auto;
}

/* Style the central title section. */
.title-container {
	/* background-color: red; */
	grid-area: Title;
	padding-top: 0.8rem;
}

/* Style the menu options button in the top right corner. */
.options-container {
	/* background-color: blue; */
	grid-area: Options;
	padding: 0.3rem;
}
.optionsbutton {
    color: var(--accent-color-white, white);
    filter: invert(1) hue-rotate(180deg);
    top: 0rem;
    left: 0rem;
    height: 2.7rem; /* Fallback if needed. */
    height: calc(var(--headerHeight) - 1.5rem); /* Make the burger icon just smaller than the header height. */
    width: auto;
    display: block;
    font-size: 2.5rem;
    cursor: pointer;
    margin: 0rem;
    padding: 0rem;
}

.optionsbutton:hover {
    color: var(--main-dorkinians-yellow-colour);
}


/* Add a rotation set up for the Dorkinians logo in the top left. */
.rotate {
	animation: rotation 3s;
  }
  .linear {
	animation-timing-function: linear;
  }
  .infinite {
	animation-iteration-count: infinite;
  }
  @keyframes rotation {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(359deg);
	}
  }



/* Footer Section */




/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------

Section 4

---------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Everything below initially designed for mobile. */

/* Club Stats Tab */

.club-stats-area {
	/* background-color: violet; */
	display: grid; 
	grid-template-columns: 100%; 
	grid-template-rows: max-content max-content max-content;
	gap: 1rem 0.3rem; /* First value is between rows, second columns. */
	grid-template-areas: 
	  "ClubStats"
	  "Weather"
	  "AllClubResults";
}

.club-stats-clubStats-container {
	/* background-color: blue; */
	grid-area: ClubStats;
	padding: 0.3rem;
}

.club-stats-weather-container {
	/* background-color: yellow; */
	grid-area: Weather;
	padding: 0.3rem;
}

.club-stats-all-club-results-container {
	/* background-color: red; */
	grid-area: AllClubResults;
	padding: 0.3rem;
}


/* All Stats Tab */





/* Player Stats Tab */

/* Add a grid layout for the player-stats-area section to group it. */
.player-stats-area {
	/* background-color: violet; */
	display: grid; 
	grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%; /* Add 8 columns. */ 
	grid-template-rows: 6.5rem 6.5rem 6.5rem; /* Add 3 rows. */ 
	gap: 0 0; /* First value is between rows, second columns. */
	grid-template-areas: 
	  "Minutes Minutes Minutes Minutes Minutes Minutes Minutes Minutes"
	  "MOM MOM Goals Goals Goals Goals Assists Assists"
	  "Cards Cards Cards OG OG Conceded Conceded Conceded";
}

/* Add a generic class for all containers. */
.player-stats-container {
	padding: 0.5rem;
	text-align: center;
	vertical-align: middle;
	height: 6rem; /* Match the height of the rows defined in the player-stats-area above. */
}
.player-stats-container p {
    display: inline; /* Make sure the different text elements are inline and not on separate lines. */
}
.player-stats-container p,h4 {
    display: inline; /* Make sure the different text elements are inline and not on separate lines. */
}

/* Make some custom font classes for styling the stats. */

.font-huge-bold {
	font-size: 2rem;
}

.font-big-bold {
	font-size: 1.5rem;
}

.font-small {
	font-size: 0.8rem;
}

/* Add individual id stylings for each specific container. */

#player-stats-minutes-container {
	background-color: #00550E;
	/* background-color: blue; */
	grid-area: Minutes;
	padding-top: 1rem;
	border-top-left-radius: 1rem; /* Add a border radius to the overall stats box. */
	border-top-right-radius: 1rem; /* Add a border radius to the overall stats box. */
}

#player-stats-MOM-container {
	background: rgba(249, 237, 50, 0.60);
	/* background-color: rgba(var(--page-section-color-rgba), 0.9); */
    backdrop-filter: blur( 20px );
	/* background-color: red; */
	grid-area: MOM;
	padding-top: 1rem;
}

#player-stats-goals-container {
	background-color:#4FBB74;
	/* background-color: green; */
	grid-area: Goals;
	padding-top: 1rem;
}

#player-stats-assists-container {
	background-color: #1C8841;
	/* background-color: yellow; */
	grid-area: Assists;
	padding-top: 1.5rem;
}

#player-stats-cards-container {
	background-color: #00550E;
	/* background-color: Orange; */
	grid-area: Cards;
	/* Split this container into smaller sections for alignment. */
	display: grid; 
	grid-template-columns: 50% 50%; 
	grid-template-rows: 30% 40% 30%;
	gap: 0 0; /* First value is between rows, second columns. */
	grid-template-areas: 
	  "Discipline Discipline"
	  "YellowCards RedCards"
	  "YellowHeader RedHeader";
	  border-bottom-left-radius: 1rem; /* Add a border radius to the overall stats box. */
}
#player-stats-cards-container-discipline {
	/* background-color: #00550E; */
	/* background-color: Orange; */
	grid-area: Discipline;
}
#player-stats-cards-container-yellowheader {
	/* background-color: #00550E; */
	/* background-color: Orange; */
	grid-area: YellowHeader;
	color: #F9ED32;
}
#player-stats-cards-container-yellowcards {
	/* background-color: #00550E; */
	/* background-color: Orange; */
	grid-area: YellowCards;
	color: #F9ED32;
}
#player-stats-cards-container-redheader {
	/* background-color: #00550E; */
	/* background-color: Orange; */
	grid-area: RedHeader;
	color: Red;
}
#player-stats-cards-container-redcards {
	/* background-color: #00550E; */
	/* background-color: Orange; */
	grid-area: RedCards;
	color: Red;
}

#player-stats-OG-container {
	background: rgba(249, 237, 50, 0.60);
	/* background-color: rgba(var(--page-section-color-rgba), 0.9); */
    backdrop-filter: blur( 20px );
	/* background-color: purple; */
	grid-area: OG;
	padding-top: 1.5rem;
}

#player-stats-conceded-container {
	background-color: #00550E;
	/* background-color: brown; */
	grid-area: Conceded;
	padding-top: 1rem;
	border-bottom-right-radius: 1rem; /* Add a border radius to the overall stats box. */
}



/* Team of the Week Tab */

.team-of-the-week-area {
	/* background-color: violet; */
	display: grid; 
	grid-template-columns: 100%; 
	grid-template-rows: max-content max-content max-content;
	gap: 1rem 0.3rem; /* First value is between rows, second columns. */
	grid-template-areas: 
	  "WeekSelection"
	  "TeamOfTheWeek"
	  "TopPerformers";
}

.totw-week-selection-container {
	/* background-color: blue; */
	grid-area: WeekSelection;
	padding: 0.3rem;
}

.totw-team-of-the-week-container {
	/* background-color: yellow; */
	grid-area: TeamOfTheWeek;
	padding: 0.3rem;
}

.totw-top-performers-container {
	/* background-color: red; */
	grid-area: TopPerformers;
	padding: 0.3rem;
}


/* Comparison Tab */

.comparison-area {
	/* background-color: violet; */
	display: grid;
	grid-template-columns: 45% 4% 45%; 
	grid-template-rows: 2rem 2rem max-content; /* Repeat the same height row x number of times. */
	gap: 1rem 3%; /* First value is between rows, second columns. */
	grid-template-areas: 
	  "PlayerSelection1 Blank PlayerSelection2"
	  "Player1Stats Blank Player2Stats"
	  "ComparisonStatsTable ComparisonStatsTable ComparisonStatsTable";
}

.comparison-player-1-selection-container {
	/* background-color: blue; */
	grid-area: PlayerSelection1;
	padding: 0.3rem;
}
.comparison-player-2-selection-container {
	/* background-color: green; */
	grid-area: PlayerSelection2;
	padding: 0.3rem;
}
.comparison-player-1-stats-container {
	/* background-color: yellow; */
	grid-area: Player1Stats;
	padding: 0.3rem;
}
.comparison-player-2-stats-container {
	/* background-color: red; */
	grid-area: Player2Stats;
	padding: 0.3rem;
}

/* Add a class to style the overall holding container of all stats rows. */
.comparison-stats-table {
	background-color: purple;
	width: 100%;
	grid-area: ComparisonStatsTable;
	display: grid;
	flex-flow: column wrap;
	grid-template-columns: 100%; /* 1 column of full width. */
	grid-template-rows: repeat(12, 1.5rem); /* Repeat the same height row x number of times. */
	gap: 0.2rem 0; /* First value is between rows, second columns. */
	margin: 0 auto 0 auto;
}

/* Add a class to style each row container of the comparison table. */
.comparison-stats-table-row-container {
	background-color: lightgreen;
	display: grid;
	/* flex-flow: column wrap; */
	width: 100%;
	grid-template-columns: 3fr minmax(5rem, 1fr) minmax(28px, 0.5fr) minmax(5rem, 1fr) 3fr; /* 5 columns of varying width. */
	grid-template-rows: 1.5rem; /* One row height. */
	/*gap: 0.5rem 0.3rem; /* First value is between rows, second columns. */
}

div.cell {
	/* background: LightBlue; */
	/* border: 1px solid Blue; */
	display: flex;
    flex-wrap: wrap;
  	align-content: center;
  	align-items: center;
	text-align: center;
}

.icon-cell {
	background:rgba(249, 237, 50, 0.60);
}

.number-cell {
	background:red;
	min-width: 3rem;
	text-align: center;
}

.stat-bar-cell {
	background:purple;
	min-width: 5rem;
}

/* Below two classes, id and animation are copies from online YouTube progress bar tutorial: https://www.youtube.com/watch?v=4LBRMSk6PLY&ab_channel=PedroTech */

.bar-container {
	/* background-color: red; */
	position: relative;
	/* height: 1.5rem; */
	/* border-radius: 1rem; */
	/* width: 100%; */
}

/* Create an initial styling for the comparison bars which start white. */
.bar-container .comparison-stat-bar {
	background-color: white;
	/* background-color: green; */
	position: absolute;
	height: 80%;
	border-radius: 0.3rem;
	width: 0%;
}

@keyframes progress-animation {
	0% {width: 0%;}
	100% {width: 100%;}
}

.bar-right {
	left: 0rem !important; /* Lock the bar to the left side of its container. */
	justify-self: start; /* Position the bar container to the left side of its container. */
}

.bar-left {
	right: 0rem !important; /* Lock the bar to the right side of its container. */
	justify-self: end; /* Position the bar container to the right side of its container. */
}

/* Create a class to be added to the bar that is greater/or less. */
.yellow {
	background-color: #F9ED32 !important;
}


/* Create a container class to house the icons. */
.comparison-icons-container {
	background-color: orange;
	/* grid-area: Icons; */
	padding: 3.5rem 0rem 0.3rem 0rem;
	text-align: center;
}

/* Create an icon class to apply to all icons. */
.comparison-icon {
	height: 1.4rem;
	width: auto;
	padding-bottom: 0.2rem; /* Add space to the next icon below. */
}

/* Create a class to turn the icons white. */
.comparison-icon.white {
	filter: brightness(0) invert(1); /* Ensure the icon is white. */
}

/* Create two card shapes using CSS. */
.card-icon {
	border-radius: 2px;
	width: 0.9rem;
	height: 1.1rem;
	transform: rotate(20deg);
}
.card-icon#yellow-card {
	background-color: #F9ED32;
}
.card-icon#red-card {
	background-color: red;
}


/* Tables, Results & Fixtures Tab */

.dorkiniansTableHeaderText {
	padding-bottom: 0.5rem;
	text-align: center;
}

.AFCTable {
	padding-bottom: 2rem;
}


/* Fixtures Tab */


.AFCResultsAndFixtures {
	padding-bottom: 2rem;
}

/* Weather Tab */





/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------

Section 5

---------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Main styling sheet media queries. */

/* Scale up for screens larger than mobile. Resizing the webpage for all devices. */

/* https://www.thesitewizard.com/css/mobile-friendly-responsive-design.shtml
	240 pixels (old Android portrait mode)
	320 pixels (iPhone 3 to 5 and iPhone SE portrait mode)
	375 pixels (iPhone 6, 6s, 7, 8 and X portrait)
	384 pixels (Android Nexus portrait)
	414 pixels (iPhone 6 Plus, 6s Plus, 7 Plus and 8 Plus portrait)
	480 pixels (iPhone 3 and 4 landscape mode)
	568 pixels (iPhone 5 and iPhone SE landscape)
	600 pixels (Android Nexus landscape, Kindle portrait)
	667 pixels (iPhone 6, 7 and 8 landscape)
	736 pixels (iPhone 6 Plus, 7 Plus and 8 Plus landscape)
	768 pixels (iPad portrait)
	812 pixels (iPhone X landscape)
	1024 pixels (iPad landscape) */

	@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
		/* Smartphones - Covers most phones such as iPhone SE (my phone). */
		/* background: blue; */
		:root {
			/* --headerHeight: 2.8rem; Define the header height variable. */
			--pagewidth: 96%; /* Used for controlling the width of items on each page */
		}
	}
	
	@media only screen and (min-width: 480px) and (max-width: 768px) {
		/* Landscape mobiles or Reduced windows on Desktops and Laptops - for when a user reduces the size of their window. */
		/* background: green; */
		:root {
			/* --headerHeight: 4rem; Define the header height variable. */
			--pagewidth: 95%; /* Used for controlling the width of items on each page */
		}
		html {
			font-size: 18px; /* Add a top level font size that all other CSS is relative to. */
		}
	}
	
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
		/* Covers iPads and other tablets. */
		/* background: orange; */
		:root {
			/* --headerHeight: 4rem; Define the header height variable. */
			--pagewidth: 80%; /* Used for controlling the width of items on each page */
		}
		html {
			font-size: 20px; /* Add a top level font size that all other CSS is relative to. */
		}
	}
	
	@media only screen and (min-width: 1024px) and (max-width: 1223px) {
		/* Reduced windows on Desktops and Laptops - for when a user reduces the size of their window. */
		/* background: cyan; */
		:root {
			/* --headerHeight: 4rem; Define the header height variable. */
			--pagewidth: 80%; /* Used for controlling the width of items on each page */
		}
		html {
			font-size: 20px; /* Add a top level font size that all other CSS is relative to. */
		}
	}
	
	@media only screen and (min-width: 1224px) {
		/* Desktops and Laptops - For most normal size screen desktops and laptops. */
		/* background: red; */
		:root {
			/* --headerHeight: 4rem; Define the header height variable. */
			--pagewidth: 80%; /* Used for controlling the width of items on each page */
		}
		html {
			font-size: 22px; /* Add a top level font size that all other CSS is relative to. */
		}
	}
	
	@media only screen and (min-width: 1824px) {
		/* Desktops and Laptops - For larger monitors and displays. */
		/* background: yellow; */
		:root {
			/* --headerHeight: 4rem; Define the header height variable. */
			--pagewidth: 80%; /* Used for controlling the width of items on each page */
		}
		html {
			font-size: 24px; /* Add a top level font size that all other CSS is relative to. */
		}
	}
	
	/* Add a set up for media devices with preference for dark mode. */
	
	/* https://polypane.app/blog/the-complete-guide-to-css-media-queries/
	https://levelup.gitconnected.com/dynamic-dark-light-mode-on-the-web-d55e4c0d3aa9 */
	
	/* @media (prefers-color-scheme: dark) {
		:root {
			background: #000000;
			filter: invert(1) hue-rotate(180deg);
		}
		img {
			opacity: .75;
			transition: opacity .5s ease-in-out;
		}
		img:hover {
			opacity: 1;
		}
	} */