/* SDP Styling Guide. */

/* The main css style file used for SDP Content. */

/* CSS Best Coding Practice
	https://github.com/bangsluke/bangsluke.github.io/blob/main/README.md#css-best-coding-practice
*/

/* Import the Open Sans font. */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* :root is a pseudo-class selector that matches the root element of the document, usually the html element. By creating your variables in :root, they will be available globally and can be accessed from any other selector in the style sheet.*/

:root {
    /* CSS variable - SDP purple */
    --accent-color-purple: #8F23FF;
    /* CSS variable - SDP blue */
    --accent-color-blue: #4254FF;
    /* CSS variable - SDP pink */
    --accent-color-pink: #F575FF;
    /* CSS variable - Sidebar grey */
    --background-color-grey: #282828;
    /* CSS variable - Background grey */
    --background-color-lightgrey: #CCCCCC;
    --background-color-light-theme: #FFFFFF;
    --main-font-family: 'Open Sans', 'Calibri', sans-serif;
    /* CSS font variables */
    font-family: var(--main-font-family, sans-serif);
    font-size: 10pt;
    /* CSS width variables */
    /* Note - don't use margin-left with a defined value, instead use margin-auto. */
    --width: 80%;
    background: var(--background-color-light-theme, white);
}

/* Reset all body positioning, margins (body starts with a 8px margin) and padding. */

body {
    /* background-color: darkcyan; */
    background: var(--background-color-light-theme, white);
    left: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px;
}

/* Add three classes for managing the width of elements. */

.fullwidth {
    left: 0px;
    top: 0px;
    width: 100%;
}

.reducedwidth {
    left: 0px;
    top: 0px;
    width: var(--width, 80%);
}

.contentwidth {
    left: 0px;
    top: 0px;
    width: max-content;
}

/* Header Sections */

/* The full header covers from the very top of the page to the top line of the acronym table. It is all fixed positioning. */

.header {
    /* background: pink; */
    background: var(--background-color-light-theme, white);
    min-height: 10px;
    height: max-content;
    position: fixed;
    z-index: 1;
}

/* The header logo section contains the logo and the border line. */

.header-logo-section {
    /* background: orange; */
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

#SDPLogo {
    margin-left: 5%;
    height: 40px;
    width: auto;
}

/* Content Header Section */

/* The header toptext section contains all text down to the top row of the table, up to the frozen border line. */

.header-toptext-section {
    /* background: red; */
    min-height: 30px;
    height: max-content;
    margin: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .15);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

/* The header toptext grey section contains the h1 header of "SDP Acronyms". */

.header-toptext-grey-section {
    /* background: LightSkyBlue; */
    background: var(--background-color-lightgrey, grey);
    min-height: 30px;
    height: max-content;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 0px 10px 30px;
    margin: 20px 0px 0px;
}

h1 {
    font-size: 14pt;
    font-weight: 400;
    font-weight: bold;
}

/* The header navigation section is a container for the next content div. */

.header-navigation-section {
    /* background: greenyellow; */
    min-height: 20px;
    line-height: 0px;
    height: max-content;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.centerer {
    /* background: orangered; */
    width: 95%;
    margin: auto;
}

/* The header navigation content contains the alphabet hyperlinks. */

.header-navigation-content {
    /* background: LightSalmon; */
    text-align: center;
    height: max-content;
    margin: auto;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 20px);
    grid-template-rows: repeat(auto-fit, 20px);
    grid-gap: 10px;
    /* text-align: justify; */
    /* text-justify: auto; */
}

.hyperlink-grid-cell {
    /* background: yellow; */
    /* text-align: center; */
    /* text-justify: center; */
    justify-items: center;
    align-items: center;
    text-align: center;
}

h2 {
    font-size: 12pt;
    font-weight: 400;
    font-weight: bold;
    color: var(--accent-color-blue, black);
    text-align: left;
    text-decoration: underline;
}

h2:hover {
    /* Hover over link */
    color: var(--accent-color-pink, black);
}

.deadHeaderLink {
    text-decoration: none;
    color: black;
}

.deadHeaderLink:hover {
    color: black;
}

.isDisabled {
    pointer-events: none;
}

/* Hyperlink (anchor) formatting. */

a {
    text-decoration: none;
}

/* Top table line containing "", "Short Term" and "Long Term". */

.top-grid-row {
    /* background: yellow; */
    height: max-content;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 10px;
}

/*Text styling*/

.bold {
    font-size: 12pt;
    font-weight: 400;
    font-weight: bold;
    color: var(--accent-color-purple, black);
}

.bold-blue {
    font-size: 12pt;
    font-weight: 400;
    font-weight: bold;
    color: var(--accent-color-blue, black);
}

div {
    font-size: 12pt;
}

/* Container original size for most screens. */

/* The container holds all content below the header section and above the footer. */

.container {
    /* background: green; */
    /* background: var(--background-color-light-theme, white); */
    background: inherit;
    min-height: 800px;
    height: max-content;
    left: 0px;
    top: 0px;
    /* Controls the offset of the container from behind the header. */
    padding-top: 260px;
    /* Controls the offset of the footer below the content. */
    padding-bottom: 30px;
    margin: auto;
    margin-bottom: 50px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .15);
    border-radius: 10px;
    position: static;
}

/* Container Content Sections */

.container-content {
    /* background: PaleTurquoise; */
    background: inherit;
    min-height: 300px;
    height: max-content;
    margin: auto;
}

.acronym-grid-section {
    /* background: blue; */
    height: max-content;
    margin: auto;
    display: grid;
    grid-template-columns: 60px auto 70%;
    grid-auto-rows: auto;
    grid-gap: 10px;
}

/* Footer Section */

.footer {
    /* background: lightpink; */
    min-height: 20px;
    height: max-content;
    display: grid;
    grid-template-columns: auto 3fr auto;
    grid-template-rows: auto;
    grid-template-areas: "footer-left-text footer-blank-section footer-RLE-text";
    padding-bottom: -20px;
    line-height: 10px;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.footer-left-text {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

.footer-RLE-text {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}

/* h3 is only used in the footer. */

h3 {
    font-size: 10pt;
    font-weight: 400;
    font-family: var(--main-font-family, sans-serif);
}

#left {
    color: var(--accent-color-purple, black);
    text-align: left;
}

#left:hover {
    color: var(--accent-color-pink, black);
}

#right {
    color: var(--background-color-grey, black);
    text-align: right;
}

/* CSS Tips and Tricks. */

/* Change the background colour of when a user highlights text to orange. */

h1::selection {
    background: var(--accent-color-pink, #F575FF);
}

h2::selection {
    background: var(--accent-color-pink, #F575FF);
}

h3::selection {
    background: var(--accent-color-pink, #F575FF);
}

div::selection {
    background: var(--accent-color-pink, #F575FF);
}

/* Smooth the scrolling function of any internal hyperlinks. */

html {
    scroll-behavior: smooth;
    /* Offset all anchor links by the height of the fixed header. https://stackoverflow.com/a/56467997/14290169 */
    scroll-padding-top: 260px;
}

/* Add a class for fading in an item over two seconds. */

.fadein {
    animation: fadein 2s ease forwards;
}

@keyframes fadein {
    from {
        display: none;
        opacity: 0;
    }
    to {
        display: block;
        opacity: 1;
    }
}

/* Responsive scaling for devices. https://codeconvey.com/responsive-media-queries-for-all-devices/ */

/* https://www.thesitewizard.com/css/mobile-friendly-responsive-design.shtml
240 pixels (old Android portrait mode)
320 pixels (iPhone 3 to 5 and iPhone SE portrait mode)
375 pixels (iPhone 6, 6s, 7, 8 and X portrait)
384 pixels (Android Nexus portrait)
414 pixels (iPhone 6 Plus, 6s Plus, 7 Plus and 8 Plus portrait)
480 pixels (iPhone 3 and 4 landscape mode)
568 pixels (iPhone 5 and iPhone SE landscape)
600 pixels (Android Nexus landscape, Kindle portrait)
667 pixels (iPhone 6, 7 and 8 landscape)
736 pixels (iPhone 6 Plus, 7 Plus and 8 Plus landscape)
768 pixels (iPad portrait)
812 pixels (iPhone X landscape)
1024 pixels (iPad landscape) */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Smartphones - Covers most phones such as iPhone SE (my phone). */
    :root {
        --width: 95%;
        font-size: 8pt;
    }
    body {
        /* background: blue; */
        font-size: 8pt;
    }
    /* .img-Logo {
        height: 20px;
    } */
    .header-toptext-grey-section {
        min-height: 30px;
        padding: 5px 0px 5px 20px;
        margin: 20px 0px 0px;
    }
    h1 {
        font-size: 10pt;
        line-height: 15px;
    }
    .header-navigation-content {
        grid-template-columns: repeat(auto-fit, 16px);
        /* grid-template-rows: 15px; */
        /* grid-template-rows: repeat(auto-fit, 16px); */
        grid-gap: 15px;
        column-gap: 20px;
        margin: 0px;
    }
    h2 {
        font-size: 10pt;
        /* line-height: 10px; */
    }
    .acronym-grid-section {
        grid-template-columns: 20px auto 70%;
        grid-gap: 5px;
    }
    .bold {
        font-size: 8pt;
    }
    .bold-blue {
        font-size: 8pt;
    }
    div {
        font-size: 8pt;
    }
    .container {
        padding-top: 286px;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }
    html {
        scroll-padding-top: 282px;
    }
    h3 {
        font-size: 6pt;
    }
}

@media only screen and (min-width: 480px) and (max-width: 1223px) {
    /* Reduced windows on Desktops and Laptops - for when a user reduces the size of their window. */
    :root {
        --width: 90%;
        font-size: 8pt;
    }
    body {
        /* background: orange; */
        font-size: 8pt;
    }
    /* .img-Logo {
        height: 20px;
    } */
    .header-toptext-grey-section {
        min-height: 30px;
        padding: 5px 0px 5px 20px;
        margin: 20px 0px 0px;
    }
    h1 {
        font-size: 12pt;
        line-height: 15px;
    }
    .header-navigation-content {
        grid-template-columns: repeat(auto-fit, 18px);
        grid-template-rows: 20px;
        grid-gap: 10px;
        margin-bottom: 0px;
    }
    h2 {
        font-size: 10pt;
        line-height: 10px;
    }
    .acronym-grid-section {
        grid-template-columns: 30px auto 70%;
        grid-gap: 5px;
    }
    .bold {
        font-size: 10pt;
    }
    .bold-blue {
        font-size: 10pt;
    }
    div {
        font-size: 10pt;
    }
    .container {
        padding-top: 262px;
        padding-bottom: 30px;
        margin-bottom: 40px;
    }
    html {
        scroll-padding-top: 258px;
    }
    h3 {
        font-size: 8pt;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Covers iPads and other tablets. */
    :root {
        --width: 90%;
        font-size: 8pt;
    }
    body {
        /* background: green; */
        font-size: 8pt;
    }
    /* .img-Logo {
        height: 20px;
    } */
    .header-toptext-grey-section {
        min-height: 30px;
        padding: 10px 0px 10px 30px;
        margin: 20px 0px 0px;
    }
    h1 {
        font-size: 12pt;
        line-height: 15px;
    }
    .header-navigation-content {
        grid-template-columns: repeat(auto-fit, 14px);
        grid-template-rows: 20px;
        grid-gap: 10px;
        margin-bottom: 10px;
    }
    h2 {
        font-size: 12pt;
        line-height: 10px;
    }
    .acronym-grid-section {
        grid-template-columns: 30px auto 70%;
        grid-gap: 5px;
    }
    .bold {
        font-size: 12pt;
    }
    .bold-blue {
        font-size: 12pt;
    }
    div {
        font-size: 12pt;
    }
    .container {
        padding-top: 246px;
        padding-bottom: 30px;
        margin-bottom: 50px;
    }
    html {
        scroll-padding-top: 240px;
    }
    h3 {
        font-size: 10pt;
    }
}

@media only screen and (min-width: 1224px) {
    /* Desktops and Laptops - For most normal size screen desktops and laptops. */
    body {
        /* background: red; */
        font-size: 10pt;
    }
    /* No additional styling required as the main CSS styles were designed for this screen size. */
}

@media only screen and (min-width: 1824px) {
    /* Desktops and Laptops - For larger monitors and displays. */
    :root {
        --width: 70%;
    }
    body {
        /* background: yellow; */
        font-size: 10pt;
    }
    .header-navigation-content {
        grid-template-columns: repeat(auto-fit, 24px);
        grid-gap: 10px;
    }
    /* No additional styling required as the main CSS styles were designed for this screen size. */
}

@media (prefers-color-scheme: dark) {
    /* Add a set up for media devices with preference for dark mode - https://polypane.app/blog/the-complete-guide-to-css-media-queries/ */
    html {
        /* background: var(--background-color-grey, #282828); */
        background: var(--background-color-grey, #000000);
        filter: invert(1) hue-rotate(180deg);
    }
    .container {
        background: var(--background-color-light-theme, white);
    }
    .header-logo-section {
        /* background: white; */
        filter: invert(1) hue-rotate(180deg);
        /* filter: none; */
    }
    #SDPLogo {
        /* filter: hue-rotate(350deg); */
        /* height: 100px; */
        /* filter: none; */
        filter: invert(1) hue-rotate(180deg);
        /* filter: hue-rotate(180deg); */
    }
}