/* Dorkinians Styling Guide. */
/* The main css style file used for all Dorkinians Website styling. */

/* 
    OD's Green = rgb(28, 136, 65), Hex = #1c8841
    OD's Yellow = rgb(249, 237, 50), Hex = #f9ed32
*/

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Calibri';
    font-size: 13pt;
    background-color: #166a33;
    color: #F3F92B;
    padding: 10px;
    margin: 0;
}

h1 {
    font-family: 'Calibri';
    font-size: 15pt;
    color: #ffffff;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}

h2 {
    font-family: 'Cambria';
    font-size: 30pt;
    color: #f9ed32;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}

h3 {
    font-family: 'Cambria';
    font-size: 18pt;
    color: #f9ed32;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}

h1 span {
    border: 4px dashed #f9ed32;
    padding: 10px
}

p {
    padding: 0;
    margin: 0;
}

.img-circle {
    border: 1px solid #1c8841;
    border-radius: 50%;
}

.headersection {
    background-color: #1c8841;
    background-image: url("https://pbs.twimg.com/media/C43fuhvWIAAXLIB.jpg");
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 200px;
}

.section {
    background-color: #1c8841;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.section2 {
    background-color: #f9ed32;
    background-image: url("https://pbs.twimg.com/media/Cwf0MvVWQAE_F36.jpg");
    padding-top: 2px;
    margin-bottom: 60px;
    border-radius: 20px;
    width: 400px;
    height: 150px;
    margin: auto
}

.section3 {
    background-color: #f9ed32;
    background-image: url("http://d2dzjyo4yc2sta.cloudfront.net/?url=images.pitchero.com%2Fui%2F1%2F1418128417_3659.jpg&w=840&h=560&t=square");
    padding-top: 2px;
    margin-bottom: 60px;
    border-radius: 20px;
    margin: auto
}

#header {
    background-color: #1c8841;
    /* background-image: url("https://pbs.twimg.com/media/C-us83nXoAERQmV.jpg"); */
    background-size: cover;
}

#header img {
    display: block;
    width: 80px;
    height: 80px;
    margin: auto;
}

#header p {
    font-size: 25pt;
    color: #3b464c;
    padding-top: 5px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}

.quote {
    font-size: 12pt;
    text-align: right;
    margin-top: 10px;
}

.headertext {
    font-size: 12pt;
    margin-top: 10px;
}

.hyperlinktext {
    font-size: 12pt;
    color: white;
    margin-top: 10px;
}

table {
    width: 100%;
}

table, th, td {
    border: 2px solid #ffffff;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}

.selected {
    background-color: #f9ed32;
    font-weight: bold;
    color: #1c8841;
    font-size: 10pt;
}

li {
    margin-bottom: 15px;
    font-weight: bold;
}

progress {
    width: 70%;
    height: 20px;
    color: #3fb6b2;
    background: #efefef;
}

progress::-webkit-progress-bar {
    background: #efefef;
}

progress::-webkit-progress-value {
    background: #3fb6b2;
}

progress::-moz-progress-bar {
    color: #3fb6b2;
    background: #efefef;
}

iframe, audio {
    display: block;
    margin: 0 auto;
    border: 3px solid #3fb6b2;
}

hr {
    border: 0;
    height: 1px;
    background: #f36f48;
}

form {
    text-align: center;
    margin-top: 0;
}

.submit {
    background-color: #f9ed32;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #000000;
    border: none;
    outline: none;
    margin: 0;
    font-weight: bold;
}

.submit:hover {
    background-color: #ffffff;
}

textarea {
    height: 100px;
}

input, textarea {
    margin-bottom: 10px;
    font-size: 11pt;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    background-color: #efefef;
    color: #787575;
    border-radius: 5px;
    width: 70%;
    outline: none;
    font-family: 'Calibri', cursive;
}

#contacts img {
    height: 50px;
    width: 50px;
    margin-left: 7px;
    margin-right: 7px;
}

#contacts a {
    text-decoration: none;
}

#contacts img:hover {
    opacity: 0.8;
}

#contacts {
    text-align: center;
}

.copyright {
    font-size: 8pt;
    color: #f9ed32;
    text-align: right;
    padding-bottom: 10px;
}