/* SDP Styling Guide. */

/* The main css style file used for SDP Content. */

/*
Key CSS Notes:
- Remember that attributes started with .attribute are for classes, and attributes started with #attribute are for ids.
- CSS variables - To create a CSS variable, you just need to give it a name with two hyphens in front of it and assign it a value like this: --penguin-skin: gray;
- See the bottom of this file for key tips and tricks.
*/

/* Import the Open Sans font. */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* :root is a pseudo-class selector that matches the root element of the document, usually the html element. By creating your variables in :root, they will be available globally and can be accessed from any other selector in the style sheet.*/

:root {
    /* CSS variable - SDP purple */
    --accent-color-purple: #8F23FF;
    /* CSS variable - SDP blue */
    --accent-color-blue: #4254FF;
    /* CSS variable - SDP pink */
    --accent-color-pink: #F575FF;
    /* CSS variable - Sidebar grey */
    --background-color-grey: #282828;
    /* CSS variable - Background grey */
    --background-color-lightgrey: #CCCCCC;
    --background-color-light-theme: #FFFFFF;
    --main-font-family: 'Open Sans', 'Calibri', sans-serif;
    /* CSS font variables */
    font-family: var(--main-font-family, sans-serif);
    font-size: 10pt;
    /* CSS width variables */
    /* Note - don't use margin-left with a defined value, instead use margin-auto. */
    --width: 80%;
    /* CSS width variable for main rounded corner square shape. */
    --width-content: 1200px;
}

/* Header Sections */

/* The full header covers from the very top of the page to the top line of the acronym table. It is all fixed positioning. */

.header {
    /* background: pink; */
    background: var(--background-color-light-theme, white);
    min-height: 10px;
    height: max-content;
    /*Controls the main width of the header section.*/
    width: 100%;
    left: 0px;
    top: 0px;
    position: fixed;
    z-index: 1;
}

/* The header logo section contains the logo and the border line. */

.header-logo-section {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.logo {
    width: 90%;
    margin-left: 4.5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.img-Logo {
    height: 40px;
    width: auto;
}

/* Content Header Section */

/* The header toptext section contains all text down to the top row of the table, up to the frozen border line. */

.header-toptext-section {
    /* background: red; */
    min-height: 30px;
    height: max-content;
    /* Controls the main width of the page and sets an auto margin to center within the container. */
    width: var(--width-content, 80%);
    margin: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .15);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

/* The header toptext grey section contains the h1 header of "SDP Acronyms". */

.header-toptext-grey-section {
    /* background: LightSkyBlue; */
    background: var(--background-color-lightgrey, grey);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px;
    margin: 0px;
}

h1 {
    font-size: 14pt;
    font-weight: 400;
    font-weight: bold;
    /* color: var(--background-color-grey, black); */
    padding: 30px 50px 30px 0px;
    margin-left: 30px;
    line-height: 15px;
}

/* The header navigation section is a container for the next content div. */

.header-navigation-section {
    /* background: greenyellow; */
    background: white;
    min-height: 30px;
    line-height: 10px;
    height: max-content;
    /* Controls the main width of the page and sets an auto margin to center within the container. */
    width: var(--width, 80%);
    margin: auto;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin-top: -10px;
}

/* The header navigation content contains the alphabet hyperlinks. */

.header-navigation-content {
    /* background: LightSalmon; */
    background: white;
    word-spacing: 20px;
    text-align: center;
    height: max-content;
    width: max-content;
    margin: auto;
    display: flex;
    flex-direction: row;
    text-align: justify;
    text-justify: auto;
}

h2 {
    font-size: 14pt;
    font-weight: 400;
    font-weight: bold;
    /* padding: 0px 0px 0px 0px; */
    line-height: 20px;
    color: var(--accent-color-purple, black);
    text-align: left;
}

@media screen and (max-width: 500px) {
    .header-navigation-content {
        word-spacing: 2px;
    }
    h2 {
        font-size: 12pt;
    }
}

/* Top table line containing "#", "Short Term" and "Long Term". */

.top-grid-row {
    /* background: yellow; */
    background: white;
    height: max-content;
    /* Controls the main width of the page and sets an auto margin to center within the container. */
    width: var(--width, 80%);
    margin: auto;
    margin-top: 15px;
    padding-bottom: 15px;
}

/*Text styling*/

.bold {
    font-size: 14pt;
    font-weight: 400;
    font-weight: bold;
    color: var(--accent-color-purple, black);
}

h3 {
    font-size: 10pt;
    font-weight: 400;
    font-family: var(--main-font-family, sans-serif);
}

div {
    font-size: 12pt;
}

/* Container original size for most screens. */

/* The container holds all content below the header section and above the footer. */

.container {
    /* background: LightGray; */
    background: white;
    font-size: 1.5em;
    min-height: 800px;
    /* Controls the offset of the container from behind the header. */
    padding-top: 280px;
    padding-bottom: 30px;
    height: max-content;
    /* Controls the main width of the page and sets an auto margin to center within the container. */
    width: var(--width-content, 80%);
    margin: auto;
    margin-bottom: 50px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .15);
    border-radius: 10px;
}

/* Add an id for fading in an item over two seconds. */

#fadein {
    animation: fadein 2s ease forwards;
}

@keyframes fadein {
    from {
        display: none;
        opacity: 0;
    }
    to {
        display: block;
        opacity: 1;
    }
}

/* Content Sections */

.content {
    /* background: PaleTurquoise; */
    background: white;
    /* min-height: 300px; */
    height: max-content;
    /* Controls the main width of the page and sets an auto margin to center within the container. */
    width: var(--width, 80%);
    margin: auto;
}

.acronym-grid-section {
    /* background: blue; */
    /* min-height: 500px; */
    height: max-content;
    /*Controls the main width of the page.*/
    width: var(--width, 80%);
    /*Offsets the page by 10% of the width of the whole screen to center it as width is 80%.*/
    margin-left: var(--margin-left, 10%);
    margin: auto;
    display: grid;
    grid-template-columns: 60px auto 70%;
    grid-auto-rows: auto;
    grid-gap: 10px;
}

/* Footer Section */

.footer {
    /* background: lightpink; */
    background: white;
    /*Controls the main width of the header section.*/
    width: 100%;
    min-height: 10px;
    height: max-content;
    display: grid;
    grid-template-columns: auto 3fr auto;
    grid-template-rows: auto;
    grid-template-areas: "footer-left-text footer-blank-section footer-RLE-text";
    /* background: var(--background-color-light-theme, white); */
    left: 0px;
    top: 0px;
    /* position: fixed; */
    /* z-index: 1; */
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    border-top: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: -20px;
    line-height: 10px;
    font-size: 12pt;
    font-weight: 400;
    font-family: var(--main-font-family, sans-serif);
}

.footer-left-text {
    display: flex;
    flex-direction: row;
    /* word-spacing: 20px; */
    margin-left: 30px;
}

.footer-RLE-text {
    display: flex;
    flex-direction: row;
    /* word-spacing: 20px; */
    margin-right: 30px;
}

#left {
    color: var(--accent-color-purple, black);
    text-align: left;
}

#right {
    color: var(--background-color-grey, black);
    text-align: right;
}

/* Hyperlink formatting. */

a:link {
    /* normal link */
    /* color: var(--main-accent-color, black); */
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:visited {
    /* visited link */
    /* color: var(--main-accent-color, black); */
    text-decoration: none;
}

a:hover {
    /* hover over link */
    color: var(--main-accent-color, black);
    color: green;
    /* font-size: 12pt; */
    /* font-style: italic; */
}

a:active {
    /* selected link */
    color: var(--main-accent-color, black);
}

/* Offset where the anchor link takes the user to account for the fixed header. */
/* https://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header */
a.anchor {
    display: block;
    position: relative;
    /* The below value offsets in a negative fashion, i.e. -20px would be 20 pixels higher. */
    top: -50px;
    visibility: hidden;
}


/* CSS Tips and Tricks. */

/* Change the background colour of when a user highlights text to orange. */

/* h1::selection {
	background: var(--accent-color-orange, orange);
} */

/* Smooth the scrolling function of any internal hyperlinks. */

html {
    scroll-behavior: smooth;
}

/* Responsive scaling for devices. */

@media screen and (max-width: 500px) {
    :root {
        /* CSS width variables */
        --width: 90%;
        --margin-left: 5%;
        --width-content: 450px;
        font-size: 8pt;
    }
    .img-Logo {
        height: 20px;
    }
    h1 {
        font-size: 12pt;
        line-height: 15px;
        padding: 15px 50px 15px 0px;
    }
    h2 {
        font-size: 10pt;
        line-height: 10px;
    }
    .bold {
        font-size: 8pt;
    }
    h3 {
        font-size: 8pt;
    }
    div {
        font-size: 8pt;
    }
    .acronym-grid-section {
        grid-template-columns: 30px auto 70%;
        grid-gap: 5px;
    }
    .header-navigation-content {
        word-spacing: 3px;
    }
    .container {
        padding-top: 180px;
        padding-bottom: 10px;
    }
}