/* SDP Styling Guide. */

/* The main css style file used for SDP Content. */

/*
Key CSS Notes:
- Remember that attributes started with .attribute are for classes, and attributes started with #attribute are for ids
- CSS variables - To create a CSS variable, you just need to give it a name with two hyphens in front of it and assign it a value like this: --penguin-skin: gray;
- For details on class vs ids see here: https://careerkarma.com/blog/css-class-vs-id-2/
- Remember that for margins and padding, it goes (top, right, bottom and left).
- See the bottom of this file for key tips and tricks
*/

/* Import the Open Sans font. */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* :root is a pseudo-class selector that matches the root element of the document, usually the html element. By creating your variables in :root, they will be available globally and can be accessed from any other selector in the style sheet.*/

:root {
    /* CSS variable - SDP purple */
    --accent-color-purple: #8F23FF;
    /* CSS variable - SDP blue */
    --accent-color-blue: #4254FF;
    /* CSS variable - SDP pink */
    --accent-color-pink: #F575FF;
    /* CSS variable - Sidebar grey */
    --background-color-grey: #282828;
    /* CSS variable - Background grey */
    --background-color-lightgrey: #CCCCCC;
    --background-color-light-theme: #FFFFFF;
    --main-font-family: 'Open Sans', 'Calibri', sans-serif;
    /* CSS font variables */
    font-family: var(--main-font-family, sans-serif);
    font-size: 10pt;
    /* CSS width variables */
    /* Note - don't use margin-left with a defined value, instead use margin-auto. */
    --width: 80%;
    /* CSS width variable for main rounded corner square shape. */
    /* --width-content: 1200px; */
    background: var(--background-color-light-theme, white);
}

/* Reset all body positioning, margins (body starts with a 8px margin) and padding. */
body {
    left: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px;
}

/* Add three classes for managing the width of elements. */

.fullwidth {
    left: 0px;
    top: 0px;
    width: 100%;
}

.reducedwidth {
    left: 0px;
    top: 0px;
    width: 80%;
}

.contentwidth {
    left: 0px;
    top: 0px;
    width: max-content;
}


/* Header Sections */

/* The full header covers from the very top of the page to the top line of the acronym table. It is all fixed positioning. */

.header {
    /* background: pink; */
    background: var(--background-color-light-theme, white);
    min-height: 10px;
    height: max-content;
    position: fixed;
    z-index: 1;
}

/* The header logo section contains the logo and the border line. */

.header-logo-section {
    /* background: orange; */
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.logo {
    margin-left: 5%;
    height: 40px;
    width: auto;
}

/* Content Header Section */

/* The header toptext section contains all text down to the top row of the table, up to the frozen border line. */

.header-toptext-section {
    /* background: red; */
    min-height: 30px;
    height: max-content;
    margin: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .15);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

/* The header toptext grey section contains the h1 header of "SDP Acronyms". */

.header-toptext-grey-section {
    /* background: LightSkyBlue; */
    background: var(--background-color-lightgrey, grey);
    min-height: 30px;
    height: max-content;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 0px 10px 30px;
    margin: 20px 0px 0px;
}

h1 {
    font-size: 14pt;
    font-weight: 400;
    font-weight: bold;
}

/* The header navigation section is a container for the next content div. */

.header-navigation-section {
    /* background: greenyellow; */
    /* background: white; */
    min-height: 20px;
    line-height: 0px;
    height: max-content;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

/* The header navigation content contains the alphabet hyperlinks. */

.header-navigation-content {
    /* background: LightSalmon; */
    word-spacing: 20px;
    text-align: center;
    height: max-content;
    margin: auto;
    display: flex;
    flex-direction: row;
    text-align: justify;
    text-justify: auto;
}

h2 {
    font-size: 12pt;
    font-weight: 400;
    font-weight: bold;
    color: var(--accent-color-blue, black);
    text-align: left;
    text-decoration: underline;
}

#deadHeaderLink {
    text-decoration: none;
    color: black;
}

/* Top table line containing "#", "Short Term" and "Long Term". */

.top-grid-row {
    /* background: yellow; */
    height: max-content;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 10px;
}

/*Text styling*/

.bold {
    font-size: 12pt;
    font-weight: 400;
    font-weight: bold;
    color: var(--accent-color-purple, black);
}

.bold-blue {
    font-size: 12pt;
    font-weight: 400;
    font-weight: bold;
    color: var(--accent-color-blue, black);
}

div {
    font-size: 12pt;
}

/* Container original size for most screens. */

/* The container holds all content below the header section and above the footer. */

.container {
    /* background: green; */
    /* background: white; */
    min-height: 800px;
    height: max-content;
    left: 0px;
    top: 0px;
    /* Controls the offset of the container from behind the header. */
    padding-top: 260px;
    /* Controls the offset of the footer below the content. */
    padding-bottom: 30px;
    margin: auto;
    margin-bottom: 50px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .15);
    border-radius: 10px;
    position: static;
}

/* Container Content Sections */

.container-content {
    /* background: PaleTurquoise; */
    /* background: white; */
    min-height: 300px;
    height: max-content;
    margin: auto;
}

.acronym-grid-section {
    /* background: blue; */
    height: max-content;
    margin: auto;
    display: grid;
    grid-template-columns: 60px auto 70%;
    grid-auto-rows: auto;
    grid-gap: 10px;
}

/* Footer Section */

.footer {
    /* background: lightpink; */
    min-height: 10px;
    height: max-content;
    display: grid;
    grid-template-columns: auto 3fr auto;
    grid-template-rows: auto;
    grid-template-areas: "footer-left-text footer-blank-section footer-RLE-text";
    padding-bottom: -20px;
    line-height: 10px;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.footer-left-text {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

.footer-RLE-text {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}

/* h3 is only used in the footer. */

h3 {
    font-size: 10pt;
    font-weight: 400;
    font-family: var(--main-font-family, sans-serif);
}

#left {
    color: var(--accent-color-purple, black);
    text-align: left;
}

#right {
    color: var(--background-color-grey, black);
    text-align: right;
}

/* Hyperlink (anchor) formatting. */

a {
    text-decoration: none;
}

a:link {
    /* Normal link */
    /* color: var(--main-accent-color, black); */
    text-decoration: none;
}

a:visited {
    /* Visited link */
    /* color: var(--main-accent-color, black); */
    text-decoration: none;
}

a:hover {
    /* Hover over link */
    color: var(--main-accent-color, black);
    color: green;
    /* font-size: 12pt; */
    /* font-style: italic; */
}

a:active {
    /* Selected link */
    color: var(--main-accent-color, black);
}

/* CSS Tips and Tricks. */

/* Change the background colour of when a user highlights text to orange. */

h1::selection {
    background: var(--accent-color-pink, #F575FF);
}

h2::selection {
    background: var(--accent-color-pink, #F575FF);
}

h3::selection {
    background: var(--accent-color-pink, #F575FF);
}

div::selection {
    background: var(--accent-color-pink, #F575FF);
}

/* Smooth the scrolling function of any internal hyperlinks. */

html {
    scroll-behavior: smooth;
    /* Offset all anchor links by the height of the fixed header. https://stackoverflow.com/a/56467997/14290169 */
    scroll-padding-top: 260px;
}

/* Add an id for fading in an item over two seconds. */

#fadein {
    animation: fadein 2s ease forwards;
}

@keyframes fadein {
    from {
        display: none;
        opacity: 0;
    }
    to {
        display: block;
        opacity: 1;
    }
}

/* Responsive scaling for devices. https://codeconvey.com/responsive-media-queries-for-all-devices/ */

/* Smartphones */

/* Covers most phones such as iPhone SE (my phone). */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles */
    :root {
        /* background: blue; */
        --width: 90%;
        --margin-left: auto;
        --width-content: 320px;
        font-size: 8pt;
    }
    .img-Logo {
        height: 20px;
    }
    h1 {
        font-size: 10pt;
        line-height: 15px;
        padding: 15px 50px 15px 0px;
    }
    h2 {
        font-size: 9pt;
        line-height: 10px;
    }
    .bold {
        font-size: 8pt;
    }
    .bold-blue {
        font-size: 8pt;
    }
    h3 {
        font-size: 8pt;
    }
    div {
        font-size: 8pt;
    }
    .acronym-grid-section {
        grid-template-columns: 30px auto 70%;
        grid-gap: 5px;
    }
    .header-navigation-content {
        word-spacing: 3px;
    }
    .container {
        padding-top: 210px;
        padding-bottom: 10px;
    }
    html {
        scroll-padding-top: 212px;
    }
}

/* Reduced windows on Desktops and Laptops */

/* For when a user reduces the size of their window. */

@media only screen and (min-width: 480px) and (max-width: 1223px) {
    /* Styles */
    :root {
        background: orange;
        --width: 90%;
        --margin-left: auto;
        --width-content: 450px;
        /* --width-content: 80%; */
        font-size: 8pt;
    }
    .img-Logo {
        height: 20px;
    }
    h1 {
        font-size: 12pt;
        line-height: 15px;
        padding: 15px 50px 15px 0px;
    }
    h2 {
        font-size: 10pt;
        line-height: 10px;
    }
    .bold {
        font-size: 8pt;
    }
    .bold-blue {
        font-size: 8pt;
    }
    h3 {
        font-size: 8pt;
    }
    div {
        font-size: 8pt;
    }
    .acronym-grid-section {
        grid-template-columns: 30px auto 70%;
        grid-gap: 5px;
    }
    .header-navigation-content {
        word-spacing: 3px;
    }
    .container {
        padding-top: 200px;
        padding-bottom: 10px;
    }
    html {
        scroll-padding-top: 204px;
    }
}

/* iPads */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Styles */
    :root {
        background: green;
        --width: 90%;
        --margin-left: auto;
        --width-content: 450px;
        font-size: 8pt;
    }
    .img-Logo {
        height: 20px;
    }
    h1 {
        font-size: 12pt;
        line-height: 15px;
        padding: 15px 50px 15px 0px;
    }
    h2 {
        font-size: 10pt;
        line-height: 10px;
    }
    .bold {
        font-size: 8pt;
    }
    .bold-blue {
        font-size: 8pt;
    }
    h3 {
        font-size: 8pt;
    }
    div {
        font-size: 8pt;
    }
    .acronym-grid-section {
        grid-template-columns: 30px auto 70%;
        grid-gap: 5px;
    }
    .header-navigation-content {
        word-spacing: 3px;
    }
    .container {
        padding-top: 200px;
        padding-bottom: 10px;
    }
    html {
        scroll-padding-top: 204px;
    }
}

/* Desktops and Laptops */

/* For most normal size screen desktops and laptops. */

@media only screen and (min-width: 1224px) {
    /* Styles */
    :root {
        background: red;
    }
    /* No additional styling required as the main CSS styles were designed for this screen size. */
}

/* Large Screens */

/* For larger monitors and displays. */

@media only screen and (min-width: 1824px) {
    /* Styles */
    :root {
        background: yellow;
        --width: 70%;
    }
    /* No additional styling required as the main CSS styles were designed for this screen size. */
}

/* Add a set up for media devices with preference for dark mode. */

/* https://polypane.app/blog/the-complete-guide-to-css-media-queries/ */

@media (prefers-color-scheme: dark) {
    :root {
        background: var(--background-color-grey, #282828);
        filter: invert(1) hue-rotate(180deg);
    }
}