/* SideMenu Component styling */

/* The css styling used for the side menu component. */

/* Side Menu CSS */

/* Side Menu is the full side menu that appears on click of the options icon. */

#side-menu {
	background: var(--main-dorkinians-green-colour, green);
	/* background-color: lightblue; */
	height: 100%;
	width: 0rem; /* Width of sideMenu is modified dynamically in sideMenu.js. */
	position: fixed;
	z-index: 20; /* Set the z index to be in front of other items. */
	top: 0rem;
	right: -0.1rem; /* Slightly position the side-menu off to the side to avoid seing the border. */
	overflow-x: hidden;
	transition: 0.5s;
	/* padding-top: 3.75rem; */
	border-left: solid 0.125rem var(--main-dorkinians-yellow-colour, white);
	display: inline;
}

#side-menu-top-container {
	/* background-color: lightgoldenrodyellow; */
	background: var(--main-dorkinians-green-colour, green);
	position: fixed; /* Fix the top container section so that it doesn't scroll within the side menu. */ 
	top: 0rem; /* Lock the container to the top of the side menu. */
	height: 6rem;
	padding-top: 1rem;
	width: 15.6rem; /* Set the width to be the same as the width of the open side menu. */
	display: flex; /* Add flex to the top level container. */
    flex-direction: column;
    align-items: center; /* Vertically center the div's inside the container. */
	z-index: 2;
}

/* The x close button. */
#side-menu-top-container #side-menu-close-button {
	position: absolute;
	top: 0.7rem; /* Offset the button from the top of the page. */
	right: 1.5rem;
	font-size: 2.25rem;
	margin-left: 3.125rem;
	padding: 0.2rem;
}

/* Container holds all of the smaller icon and text containers. */
#side-menu-main-container {
	/* background-color: lightpink; */
	padding: 1rem 0.5rem;/* Add padding to the left and right of the links to offset them from the far left and right. */
    position: relative;
	top: 7.5rem; /* Offset the main container below the top container. */
	display: flex; /* Add flex to the top level container. */
    flex-direction: column;
    align-items: center; /* Vertically center the div's inside the container. */
    justify-content: flex-start; /* Horizontally start the links at the far left of the menu. */
	height: max-content;
	width: 90%;
	overflow-y: scroll;
	margin: 0rem auto 5rem auto; /* Add an offset below the main container so all side menu options are available. */
	z-index: 1;
	border-radius: var(--border-radius, 0.2rem); /* Add a border radius. */
    background: rgba(255, 255, 255, 0.10);
	line-height: 1;
}

/* Style all side menu sections. */
.side-menu-section {
	width: 100%;
	padding: 2rem 0rem 0rem 0rem; /* Add padding at the top of each section. */
}

/* Style the site details section. */
#side-menu-site-details-section {
	/* background-color: red; */
	position: relative;
	width: 100%;
	height: max-content;
	padding: 0rem;
	margin: 0rem;
}

#side-menu-site-details-grid-section {
	/* background-color: purple; */
	display: grid;
	grid-template-columns: 65% 33%; 
	grid-template-rows: 1.5rem 1.5rem 2.5rem 2.5rem;
	gap: 0rem 0.2rem; /* First value is between rows, second columns. */
	justify-items: stretch;
	align-items: stretch;
	justify-content: stretch;
	align-content: stretch;
}

.side-menu-site-details-grid-container {
	height: 1.5rem;
	justify-self: start;
	align-self: start;
}

/* Style the actions section. */
#side-menu-actions-section {
	/* background-color: green; */
	position: relative;
	width: 100%;
}

/* Add a container to hold each menu item. */
.side-menu-item-container {
	/* background-color: lightblue; */
	width: 100%;
	padding: 0rem;
	margin: 0rem;
}

.side-menu-item-grid-container {
	/* background-color: lightblue; */
	width: 100%;
	padding: 0rem;
	margin: 0rem;
	display: grid;
	grid-template-columns: 20% 80%; 
	grid-template-rows: 1fr;
	gap: 0 0; /* First value is between rows, second columns. */
}

/* Add a container to hold each menu icon. */
.side-menu-item-container-icon {
	/* background-color: lightgreen; */
	display: flex;
	align-content: center;
	justify-content: center;
}

/* Add styling for the icons in the side menu. */
.side-menu-icon {
	height: 2rem;
	filter: brightness(0) invert(1);
	margin-top: -0.1rem;
}

/* Add a container to hold each menu text. */
.side-menu-item-container-text {
	/* background-color: lightyellow; */
	display: flex;
	align-content: center;
	justify-content: center;
}


/* Style the quick links section. */
#side-menu-quick-links-section {
	/* background-color: orange; */
	position: relative;
	width: 100%;
}


/* Style the additional section. */
#side-menu-additional-section {
	/* background-color: yellow; */
	position: relative;
	width: 100%;
}




/* Style the text in the side menu. */

#side-menu a, h3, h4, p {
	color: var(--accent-color-white, white);
}

#side-menu p {
	font-size: 0.8rem;
}

/* Style the header text in the side menu. */
.side-menu-section-header {
	text-align: center;
	text-decoration: none;
	display: block;
	transition: 0.3s;
	height: max-content;
	padding-bottom: 0.5rem;
	text-transform: uppercase;
	font-weight: 900;
	font-family: 'Roboto', sans-serif;
	margin: 0rem; /* Remove all older margins from the main page styling. */
}

/* Style the hyperlinks. */
#side-menu a {
	text-decoration: none;
	display: block;
	transition: 0.3s;
	margin-bottom: 1.25rem;
	text-transform: uppercase;
	font-weight: 900;
	font-family: 'Roboto', sans-serif;
}

#side-menu a:hover {
	color: var(--main-dorkinians-yellow-colour, yellow);
}

/* Side menu media queries. */

/* Scale up for screens larger than mobile. Resizing the webpage for all devices. */

/* https://www.thesitewizard.com/css/mobile-friendly-responsive-design.shtml
	240 pixels (old Android portrait mode)
	320 pixels (iPhone 3 to 5 and iPhone SE portrait mode)
	375 pixels (iPhone 6, 6s, 7, 8 and X portrait)
	384 pixels (Android Nexus portrait)
	414 pixels (iPhone 6 Plus, 6s Plus, 7 Plus and 8 Plus portrait)
	480 pixels (iPhone 3 and 4 landscape mode)
	568 pixels (iPhone 5 and iPhone SE landscape)
	600 pixels (Android Nexus landscape, Kindle portrait)
	667 pixels (iPhone 6, 7 and 8 landscape)
	736 pixels (iPhone 6 Plus, 7 Plus and 8 Plus landscape)
	768 pixels (iPad portrait)
	812 pixels (iPhone X landscape)
	1024 pixels (iPad landscape) */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	/* Smartphones - Covers most phones such as iPhone SE (my phone). */
	/* background: blue; */
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
	/* Landscape mobiles or Reduced windows on Desktops and Laptops - for when a user reduces the size of their window. */
	/* background: green; */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	/* Covers iPads and other tablets. */
	/* background: orange; */
}

@media only screen and (min-width: 1024px) and (max-width: 1223px) {
    /* Reduced windows on Desktops and Laptops - for when a user reduces the size of their window. */
    /* background: cyan; */
}

@media only screen and (min-width: 1224px) {
	/* Desktops and Laptops - For most normal size screen desktops and laptops. */
	/* background: red; */
}

@media only screen and (min-width: 1824px) {
	/* Desktops and Laptops - For larger monitors and displays. */
	/* background: yellow; */
}