/* Introduction 00:00:00 */

/* Reset all settings. */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Format the body. */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    color: black;
}

h1 {
    /* font-size: larger; */
    margin-top: 1rem;
}

h2 {
    margin-top: 3rem;
}

/* Mini Book Project 1:36:00 */

.carList {
    width: 90vw;
    max-width: 1170px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
}

@media screen and (min-width:768px){
    .carList {
        grid-template-columns: repeat(3, 1fr);
    }
}

.car {
    background-color: aqua;
    border-radius: 1rem;
    padding: 1rem 2rem;
}
.car h3 {
    margin-top: 0.5rem;;
}

img {
    height: 10rem;
    width: auto;
}

/* Re-Factored Mini Book Project 2:39:00 */

.refactoredCarList {
    width: 90vw;
    max-width: 1170px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
}

@media screen and (min-width:768px){
    .refactoredCarList {
        grid-template-columns: repeat(3, 1fr);
    }
}

.refactoredCar {
    background-color: lightcoral;
    border-radius: 1rem;
    padding: 1rem 2rem;
}

/* Re-Factored Mini Book Project with Events (and State) 3:00:00 */

.refactoredCarListWithEvents {
    width: 90vw;
    max-width: 1170px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
}

@media screen and (min-width:768px){
    .refactoredCarListWithEvents {
        grid-template-columns: repeat(3, 1fr);
    }
}

.refactoredCarWithEvents {
    background-color: lightgreen;
    border-radius: 1rem;
    padding: 1rem 2rem;
}

/* Importing and Exporting Mini Book Project Components 3:13:00 */

.importedCarList {
    width: 90vw;
    max-width: 1170px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
}

@media screen and (min-width:768px){
    .importedCarList {
        grid-template-columns: repeat(3, 1fr);
    }
}

.importedCar {
    background-color: orange;
    border-radius: 1rem;
    padding: 1rem 2rem;
}