/* Web tabs styling */

/* The css styling used for SnapTabs. */

/* https://web.dev/building-a-tabs-component/. */

/* :root is a pseudo-class selector that matches the root element of the document, usually the html element. By creating your variables in :root, they will be available globally and can be accessed from any other selector in the style sheet.*/
:root {
    --indicator-size: 0.125rem;
    --vertical-space: 1rem; /* Controls the vertical space around the anchor text and for the article text. */
    --horizontal-space: 1.2rem; /* Controls the horizontal space around the anchor text and for the article text. */
}

/* Added Luke Styling. */

.snap-tabs-container {
    background-color: blue;
    top: 0rem;
    left: 0rem;
    padding-top: 0rem;
    margin-top: 0rem;
    width: 100%;
    height: calc(100vh - var(--headerHeight, 2.8rem) - 0.5rem - var(--footerHeight, 3.75rem)); /* 2.8rem header + 0.5rem padding + 3.75rem footer (https://stackoverflow.com/a/26090114/14290169) */
    min-height: calc(100vh - var(--headerHeight, 2.8rem) - 0.5rem - var(--footerHeight, 3.75rem)); /* 2.8rem header + 0.5rem padding + 3.75rem footer (https://stackoverflow.com/a/26090114/14290169) */
    /* Below is copied from body above. */
    box-sizing: border-box;
    display: grid;
    align-content: center;
    justify-content: center;
    place-content: center;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
    z-index: 1;
    /* visibility: hidden; */
    scroll-padding: 5rem 0rem 0rem 0rem;
}

/* Add styling to the anchor links to avoid the issue of the fixed header. */

/* a.anchor {
    display: block;
    position: relative;
    top: 10px;
    visibility: hidden;
} */

.thing-with-anchor:before {
    content: '';
    display: block;
    position: relative; 
    width: 0;
    height: 10rem;
    margin-top: -10rem;
}


/* Original Snap Tabs CSS Styling. */

p {
    max-inline-size: 35ch;
    margin-block: .5ch;
}

p+p {
    -webkit-margin-before: 1rem;
    margin-block-start: 1rem;
}

h2 {
    font-size: 1.5rem;
    -webkit-margin-after: .5rem;
    margin-block-end: .5rem;
    line-height: 1;
}

h2:first-of-type {
    -webkit-margin-before: 0rem;
    margin-block-start: 0rem;
}

article {
    /* Note that color is controlled by theme, so look at the CSS theme sheets. */
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1;
}

/* Specific snap-tabs styling with elements not used elsewhere on site. */

snap-tabs {
    /* Note that color is controlled by theme, so look at the CSS theme sheets. */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

snap-tabs a, snap-tabs article, snap-tabs snap-tabs-header, snap-tabs nav, snap-tabs section {
    /* Note that color is controlled by theme, so look at the CSS theme sheets. */
    outline-offset: -0.3rem;
}

.scroll-snap-x {
    overflow-x: auto;
    overflow-y: hidden;
    overflow: auto hidden;
    overscroll-behavior-x: contain;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
}

@media (prefers-reduced-motion:no-preference) {
    .scroll-snap-x {
        scroll-behavior: smooth;
    }
}

@media (hover:none) {
    .scroll-snap-x {
        scrollbar-width: none;
    }
    .scroll-snap-x::-webkit-scrollbar {
        width: 0rem;
        height: 0rem;
    }
}

snap-tabs>snap-tabs-header {
    /* Note that color is controlled by theme, so look at the CSS theme sheets. */
    flex-shrink: 0;
    min-block-size: -webkit-fit-content;
    min-block-size: -moz-fit-content;
    min-block-size: fit-content;
    display: flex;
    flex-direction: column;
}

snap-tabs>snap-tabs-header>nav {
    display: flex;
}

snap-tabs>snap-tabs-header a {
    /* Note that color is controlled by theme, so look at the CSS theme sheets. */
    scroll-snap-align: start;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    font-size: 1rem; /* Make the snap-tabs-header hyperlinks larger than normal hyperlinks. */
    text-decoration: none;
    padding: var(--vertical-space) var(--horizontal-space);
}

snap-tabs>snap-tabs-header a:hover {
    /* Note that color is controlled by theme, so look at the CSS theme sheets. */
    font-size: inherit;
}

snap-tabs>snap-tabs-header a:focus {
    outline-offset: -.5ch;
}

snap-tabs>snap-tabs-header>.snap-indicator {
    /* Note that color is controlled by theme, so look at the CSS theme sheets. */
    inline-size: 0rem;
    block-size: var(--indicator-size);
    border-radius: var(--indicator-size);
}

snap-tabs>section {
    block-size: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
}

snap-tabs>section>article {
    /* background-color: blue; */
    scroll-snap-align: start;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    /* padding: var(--vertical-space) var(--horizontal-space); */
    padding: 0rem 0rem;
}

@media (prefers-reduced-motion:reduce) {
    snap-tabs .snap-indicator {
        visibility: hidden;
    }
}

/* Method C from http://nicolasgallagher.com/jump-links-and-viewport-positioning/demo/ */
.nav-targets {
    border-top: 3.125rem solid transparent;
    margin-top: -3.125rem;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

/* Remove some minor padding from the .main-content-area class used on all other pages. */
.main-content-area {
    padding-top: 0rem;
}