/**
 * Mirrored styles from BackToTopButton
 */

.backFab {
  position: fixed;
  left: 1.3rem; /* Mirrored from right: 1.3rem */
  bottom: 1.3rem;
  border-radius: 50%;
  background-color: var(--ifm-color-emphasis-200);
  width: 3rem;
  height: 3rem;
  z-index: calc(var(--ifm-z-index-fixed) - 1);
  box-shadow: var(--ifm-global-shadow-lw);
  transition: all var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);

  /* Always visible settings */
  opacity: 1;
  transform: scale(1);
  visibility: visible;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.backFab:hover {
  background-color: var(--ifm-color-emphasis-300);
}

/* Arrow Icon styling */
.backFabIcon {
  width: 1.5rem;
  height: 1.5rem;
  fill: #757678; /* Matches BackToTopButton icon color */
}
