/* HeaderComponent styling */

/* The css styling used for the header component. */

/* Header styling. */

/* Originally from "/pages/Group-Page/assets/components/Header/CSS Files/header.css" */
.header-area {
    left: 0rem;
    top: 0rem;
    height: 2.8rem; /* Fallback if needed. */
    height: var(--headerHeight, 2.8rem); /* Get the header height variable from GroupPageMain.css. */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.125rem;
    z-index: 2;
    position: fixed;
    border-bottom: solid 0.125rem var(--accent-color-white, white);
}

/* For homepage only. */

.header-area.homepage {
    /* background-color: lightcoral; */
    height: 2.8rem; /* Fallback if needed. */
    height: var(--headerHeight, 2.8rem); /* Define the header height using the variable. */
    padding: 1rem;
    border-bottom: none;
}

/* For subpages. */

.header-area.subpage {
    background-color: var(--accent-color-black, darkgrey);
}

/* Avatar classes for the main image. */
.avatar-container {
    /* background-color: maroon; */
    height: 2.7rem; /* Fallback if needed. */
    height: calc(var(--headerHeight) - 0.125rem); /* Make the avatar just smaller than the header height. */
    width: 2.7rem; /* Fallback if needed. */
    width: calc(var(--headerHeight) - 0.125rem); /* Make the avatar just smaller than the header height. */
}

.avatar {
    background-color: rgba(255, 255, 255, 0.075);
    border: solid 0.125rem var(--accent-color-white, white);
    height: 2.7rem; /* Fallback if needed. */
    height: calc(var(--headerHeight) - 0.125rem); /* Make the avatar just smaller than the header height. */
    width: auto;
    border-radius: 100%;
    cursor: pointer;
}

/* Main subpage header text class. */

.heading-container {
    /* background-color: grey; */
    height: max-content;
    margin: auto;
}

.subpage-header-text {
    /* Note that color is controlled by theme, so look at the CSS theme sheets. */
    height: max-content;
    margin: auto;
    color: var(--accent-color-white, white);
}

/* Header area media queries. */

/* Scale up for screens larger than mobile. */

@media only screen and (min-width: 480px) and (max-width: 1223px) {
    /* Reduced windows on Desktops and Laptops - for when a user reduces the size of their window. */
    .avatar {
        height: 70px;
        margin: 0.3rem 0.7rem;
    }
    .subpage-header-text {
        font-size: 30px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Covers iPads and other tablets. */
    .avatar {
        height: 70px;
        margin: 0.3rem 0.7rem;
    }
    .subpage-header-text {
        font-size: 35px;
    }
}

@media only screen and (min-width: 1224px) {
    /* Desktops and Laptops - For most normal size screen desktops and laptops. */
    .avatar {
        height: 70px;
        margin: 0.3rem 0.7rem;
    }
    .subpage-header-text {
        font-size: 40px;
    }
}

@media only screen and (min-width: 1824px) {
    /* Desktops and Laptops - For larger monitors and displays. */
    .avatar {
        height: 70px;
        margin: 0.3rem 0.7rem;
    }
    .subpage-header-text {
        font-size: 40px;
    }
}


/* Top Menu styling. */

/* Originally from "/pages/Group-Page/assets/components/Header/CSS Files/TopMenu.css" */

.topMenu { /* The top menu bar which conatins all further containers. */
    background: var(--accent-color-black, black);
    border-left: solid 0.125rem var(--accent-color-1);
    position: fixed;
    height: 5rem;
    width: 80%;
    top: 0rem;
    left: 20%;
    z-index: 1;
    transition: 0.5s;
    padding-top: 1.25rem;
}

.topMenu-Container {
    /* background: green; */
    width: 37.5rem;
    height: inherit;
    padding: 0rem 1.25rem;/* Add padding to the left and right of the links to offset them from the far left and right. */
    display: flex; /* Add flex to the top level container. */
    flex-direction: row;
    align-items: center; /* Vertically center the div's inside the container. */
    justify-content: flex-start; /* Horizontally start the links at the far left of the menu. */
}

.topMenu-Icon-Container {
    /* background: red; */
    width: max-content;
    height: max-content;
}

.topMenu-Icon {
	height: 2.5rem;
	filter: brightness(0) invert(1);
	margin-top: 0.25rem;
}

.topMenu-Text-Container {
    /* background: blue; */
    width: max-content;
    height: max-content; /* Set the div th be the height of the text. */
    text-align: center; /* Center the text in the div. */
    margin-left: 0.625rem; /* Add spacing between the icon and text. */
    margin-right: 2.5rem; /* Add spacing between each link. */
}

.topMenu a {
    color: var(--accent-color-white, white);
    text-decoration: none;
    transition: 0.3s;
    text-transform: uppercase;
    font-weight: 900;
}

.topMenu a:hover {
    color: var(--accent-color-2);
}


/* Top menu media queries. */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Smartphones - Covers most phones such as iPhone SE (my phone). */
    .topMenu {
        display: none;
        /* Hide the top menu for smaller screens. */
    }
}

@media only screen and (min-width: 480px) and (max-width: 1223px) {
    /* Reduced windows on Desktops and Laptops - for when a user reduces the size of their window. */
    .topMenu {
        display: none;
        /* Hide the top menu for smaller screens. */
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Covers iPads and other tablets. */
    .topMenu {
        display: none;
        /* Hide the top menu for smaller screens. */
    }
}

@media only screen and (min-width: 1224px) {
    /* Desktops and Laptops - For most normal size screen desktops and laptops. */
    .topMenu {
        display: inline;
        /* Show the top menu for larger screens. */
    }
}

@media only screen and (min-width: 1824px) {
    /* Desktops and Laptops - For larger monitors and displays. */
    .topMenu {
        display: inline;
        /* Show the top menu for larger screens. */
    }
}


/* Side Menu CSS */

.burgericon-container {
    height: 2.7rem; /* Fallback if needed. */
    height: calc(var(--headerHeight) - 0.125rem); /* Make the avatar just smaller than the header height. */
    width: 2.7rem; /* Fallback if needed. */
    width: calc(var(--headerHeight) - 0.125rem); /* Make the avatar just smaller than the header height. */
    padding-right: 0.3rem;
}

.burgericon {
    color: var(--accent-color-white, white);
    filter: invert(1) hue-rotate(180deg);
    top: 0rem;
    left: 0rem;
    height: 2.7rem; /* Fallback if needed. */
    height: calc(var(--headerHeight) - 0.125rem); /* Make the avatar just smaller than the header height. */
    width: auto;
    display: block;
    font-size: 2.5rem;
    cursor: pointer;
    padding: 0.5rem;
    margin: 0rem;
    padding: 0rem;
    /* border-style: solid; */
}

.burgericon:hover {
    color: var(--accent-color-2);
}

/* SideMenu is the full dark grey side menu that appears. */

.sideMenu {
	background: var(--accent-color-black, black);
    height: 100%;
	width: 0rem; /* Width of sideMenu is modified dynamically in sideMenu.js. */
	position: fixed;
	z-index: 3;
	top: 0rem;
	right: 0rem;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 3.75rem;
	/* border-left: solid 0.125rem var(--accent-color-1); */
	display: inline;
}

/* sideMenu-Main-Container holds all of the smaller icon and text containers. */
.sideMenu-Main-Container {
    /* background: orange; */
    padding: 0rem 1.25rem;/* Add padding to the left and right of the links to offset them from the far left and right. */
    display: flex; /* Add flex to the top level container. */
    flex-direction: column;
    align-items: center; /* Vertically center the div's inside the container. */
    justify-content: flex-start; /* Horizontally start the links at the far left of the menu. */
}

/* sideMenu-Container exist for each menu option and holds the two smaller individual icon and text containers. */
.sideMenu-Container {
    /* background: green; */
    padding: 0rem 1.25rem;/* Add padding to the left and right of the links to offset them from the far left and right. */
    display: flex; /* Add flex to the top level container. */
    flex-direction: row;
    align-items: center; /* Vertically center the div's inside the container. */
    justify-content: flex-start; /* Horizontally start the links at the far left of the menu. */
}

/* sideMenu-Icon-Container holds just the sideMenu-Icon. */
.sideMenu-Icon-Container {
    /* background: red; */
    width: 3.75rem;
    height: max-content;
	height: 3rem; /* Controls the vertical height between each set of icons and links. */
}

.sideMenu-Icon {
	height: 2.5rem;
	filter: brightness(0) invert(1);
	margin-top: 0.25rem;
}

.sideMenu-Text-Container {
    /* background: blue; */
    width: 9.5rem;
    /*height: max-content; /* Set the div to be the height of the text. */
	height: 2rem;
    text-align: left; /* Left align the text in the div. */
    margin-left: 0rem; /* Add spacing between the icon and text. */
}

.sideMenu a {
	color: var(--accent-color-white, white);
    padding: 0.5rem 0.5rem 0.5rem 2rem;
	text-decoration: none;
	display: block;
	transition: 0.3s;
	margin-bottom: 1.25rem;
	text-transform: uppercase;
	font-weight: 900;
}

.sideMenu a i {
	padding-right: 1rem;
}

.main-menu a:hover {
	color: var(--accent-color-2);
	background: var(--accent-color-white, white);
}

.sideMenu .closebtn {
	position: absolute;
	top: 0rem;
	right: 1.5rem;
	font-size: 2.25rem;
	margin-left: 3.125rem;
	padding: 0.2rem;
}

/* Side menu media queries. */

/* Mobile size. */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	/* Smartphones - Covers most phones such as iPhone SE (my phone). */
}

/* Scale up for screens larger than mobile. */

@media only screen and (min-width: 480px) and (max-width: 1223px) {
	/* Reduced windows on Desktops and Laptops - for when a user reduces the size of their window. */
	.sideMenu {
		display: inline;
		/* Show the side menu for smaller screens. */
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	/* Covers iPads and other tablets. */
	.sideMenu {
		display: inline;
		/* Show the side menu for smaller screens. */
	}
}

@media only screen and (min-width: 1224px) {
	/* Desktops and Laptops - For most normal size screen desktops and laptops. */
	.sideMenu {
		display: none;
		/* Hide the side menu for larger screens. */
	}
	.burgericon {
		display: none;
		/* Hide the burger icon for larger screens. */
	}
}

@media only screen and (min-width: 1824px) {
	/* Desktops and Laptops - For larger monitors and displays. */
	.sideMenu {
		display: none;
		/* Hide the side menu for larger screens. */
	}
	.burgericon {
		display: none;
		/* Hide the burger icon for larger screens. */
	}
}