/* SideMenu Component styling */

/* The css styling used for the side menu component. */

/* Side Menu CSS */

.burgericon-container {
    height: 2.7rem; /* Fallback if needed. */
    height: calc(var(--headerHeight) - 0.125rem); /* Make the avatar just smaller than the header height. */
    width: 2.7rem; /* Fallback if needed. */
    width: calc(var(--headerHeight) - 0.125rem); /* Make the avatar just smaller than the header height. */
    padding-right: 0.3rem;
}

.burgericon {
    color: var(--accent-color-white, white);
    filter: invert(1) hue-rotate(180deg);
    top: 0rem;
    left: 0rem;
    height: 2.7rem; /* Fallback if needed. */
    height: calc(var(--headerHeight) - 0.125rem); /* Make the avatar just smaller than the header height. */
    width: auto;
    display: block;
    font-size: 2.5rem;
    cursor: pointer;
    padding: 0.5rem;
    margin: 0rem;
    padding: 0rem;
    /* border-style: solid; */
}

.burgericon:hover {
	color: var(--accent-color-2);
}

/* SideMenu is the full dark grey side menu that appears. */

.sideMenu {
	background: var(--accent-color-black, black);
    height: 100%;
	width: 0rem; /* Width of sideMenu is modified dynamically in sideMenu.js. */
	position: fixed;
	z-index: 3;
	top: 0rem;
	right: 0rem;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 3.75rem;
	/* border-left: solid 0.125rem var(--accent-color-1); */
	display: inline;
}

/* sideMenu-Main-Container holds all of the smaller icon and text containers. */
.sideMenu-Main-Container {
    /* background: orange; */
    padding: 0rem 1.25rem;/* Add padding to the left and right of the links to offset them from the far left and right. */
    display: flex; /* Add flex to the top level container. */
    flex-direction: column;
    align-items: center; /* Vertically center the div's inside the container. */
    justify-content: flex-start; /* Horizontally start the links at the far left of the menu. */
}

/* sideMenu-Container exist for each menu option and holds the two smaller individual icon and text containers. */
.sideMenu-Container {
    /* background: green; */
    padding: 0rem 1.25rem;/* Add padding to the left and right of the links to offset them from the far left and right. */
    display: flex; /* Add flex to the top level container. */
    flex-direction: row;
    align-items: center; /* Vertically center the div's inside the container. */
    justify-content: flex-start; /* Horizontally start the links at the far left of the menu. */
}

/* sideMenu-Icon-Container holds just the sideMenu-Icon. */
.sideMenu-Icon-Container {
    /* background: red; */
    width: 3.75rem;
    height: max-content;
	height: 3rem; /* Controls the vertical height between each set of icons and links. */
}

.sideMenu-Icon {
	height: 2.5rem;
	filter: brightness(0) invert(1);
	margin-top: 0.25rem;
}

.sideMenu-Text-Container {
    /* background: blue; */
    width: 9.5rem;
    /*height: max-content; /* Set the div to be the height of the text. */
	height: 2rem;
    text-align: left; /* Left align the text in the div. */
    margin-left: 0rem; /* Add spacing between the icon and text. */
}

.sideMenu a {
	color: var(--accent-color-white, white);
	padding: 0.5rem 0.5rem 0.5rem 2rem;
	text-decoration: none;
	display: block;
	transition: 0.3s;
	margin-bottom: 1.25rem;
	text-transform: uppercase;
	font-weight: 900;
}

.sideMenu a i {
	padding-right: 1rem;
}

.main-menu a:hover {
	color: var(--accent-color-2);
	background: var(--accent-color-white, white);
}

.sideMenu .closebtn {
	position: absolute;
	top: 0rem;
	right: 1.5rem;
	font-size: 2.25rem;
	margin-left: 3.125rem;
	padding: 0.2rem;
}


/* Style the theme buttons. */

/* Select all three buttons first. */
.sideMenu-Container button {
	width: max-content;
	padding: 0.4rem 0.2rem;
	margin: 0.2rem;
	border: none;
	vertical-align: middle;
	text-align: center;
	border-radius: 0.1rem;
}

#button-theme-1 {
	background-color: #FF3CAC;
	color: white;
}

#button-theme-2 {
	background-color: #32303E;
	color: #F7573A;
}

#button-theme-3 {
	background-color: #2D3047;
	color: white;
	box-shadow: 0rem 0rem 0.125rem 0.125rem var(--accent-color-white, white), 0rem 0rem 0.06rem 0.06rem var(--accent-color-white, white); /* Add the glowing white effect. */
}


/* Side menu media queries. */

/* Mobile size. */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	/* Smartphones - Covers most phones such as iPhone SE (my phone). */
}

/* Scale up for screens larger than mobile. */

@media only screen and (min-width: 480px) and (max-width: 1223px) {
	/* Reduced windows on Desktops and Laptops - for when a user reduces the size of their window. */
	.sideMenu {
		display: inline;
		/* Show the side menu for smaller screens. */
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	/* Covers iPads and other tablets. */
	.sideMenu {
		display: inline;
		/* Show the side menu for smaller screens. */
	}
}

@media only screen and (min-width: 1224px) {
	/* Desktops and Laptops - For most normal size screen desktops and laptops. */
	.sideMenu {
		display: none;
		/* Hide the side menu for larger screens. */
	}
	.burgericon {
		display: none;
		/* Hide the burger icon for larger screens. */
	}
}

@media only screen and (min-width: 1824px) {
	/* Desktops and Laptops - For larger monitors and displays. */
	.sideMenu {
		display: none;
		/* Hide the side menu for larger screens. */
	}
	.burgericon {
		display: none;
		/* Hide the burger icon for larger screens. */
	}
}